<script>
	document.title = "Báo cáo xe ra vào cổng";
</script>
<link href="/assets/vendors/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/public/assets/css/bootstrap-select.min.css" />

<style>
	div#MainScreemTable_filter {
		margin-top: 10px;
	}

	div.dataTables_wrapper div.dataTables_info {
		margin-top: 10px;
	}
</style>
<div class="row">
	<div class="col-xl-12">
		<div class="ibox collapsible-box">
			<i class="la la-angle-double-up dock-right"></i>
			<!-- Title name -->
			<div class="ibox-head">
				<div class="ibox-title">BÁO CÁO XE RA VÀO CỔNG</div>
				<div class="button-bar-group mr-3">
					<button id="search" class="btn btn-outline-warning btn-sm btn-loading mr-1 load_data" data-loading-text="<i class='la la-spinner spinner'></i>Nạp dữ liệu" title="Nạp dữ liệu">
						<span class="btn-icon"><i class="ti-search"></i>Nạp dữ liệu</span>
					</button>

					<button id="Export" class="btn btn-outline-success btn-sm mr-1" data-loading-text="<i class='la la-spinner spinner'></i>Export" title="Export">
						<span class="btn-icon"><i class="ti-export"></i>Export</span>
					</button>
				</div>
			</div>
			<!-- Filter name -->
			<div class="ibox-body pt-0 pb-0 bg-f9 border-e">
				<div class="row ibox mb-0 border-e pb-1 pt-1">
					<!-- Phần checkbox -->
					<div class="col-xl-1 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
						<div class="row">
							<input class="check_IN col-6 mb-3 " type="checkbox" style="margin-right: 10px;width:20px;height:20px;font-size: 12px !important; font-family: apple-system, BlinkMacSystemFont, " Segoe UI", Roboto, "Helvetica Neue" , Arial, sans-serif !important;" value="IN" name="checkIn" />
							<span class="text ">Vào</span>
						</div>
						<div class="row">
							<input class="check_OUT col-6 " type="checkbox" style="width:20px;height:20px;margin-right: 10px; font-size: 12px !important; font-family: apple-system, BlinkMacSystemFont, " Segoe UI", Roboto, "Helvetica Neue" , Arial, sans-serif !important;" value="OUT" name="checkOut" />
							<span class="text ">Ra</span>
						</div>
					</div>
					<!-- Phần time và tàu -->
					<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
						<div class="row form-group">
							<div class="form-group col-lg-3">
								<label class="mb-0 mt-1">Tàu/chuyến</label>
							</div>
							<div class="form-group input-group col-lg-9">
								<input id="VoyageKey" class="form-control form-control-sm" type="text" hidden="" />
								<input id="VesselName" class="form-control form-control-sm input-required" id="shipid" placeholder="Tàu/chuyến" type="text" readonly>
								<span id="chooseVessel" class="input-group-addon bg-white btn mobile-hiden text-warning" style="padding: 0 .5rem" title="chọn tàu" data-toggle="modal" data-target="#ship-modal">
									<i class="ti-search"></i>
								</span>
								<span id="nochooseVessel" class="input-group-addon bg-white btn mobile-hiden text-warning" style="padding: 0 .5rem" title="chọn tàu" data-toggle="modal" data-target="#ship-modal">
									<i class="ti-close"></i>
								</span>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-lg-3 col-form-label">
								<span>Từ ngày</span>
							</div>
							<div class="col-xl-9 input-group-sm">
								<div class="input-group">
									<input class="form-control form-control-sm" id="TIMEIN" type="text" autocomplete="off" placeholder="" value="" />
									<span class="ml-3 mr-3 mt-2">∼</span>
									<input class="form-control form-control-sm" id="TIMEOUT" type="text" autocomplete="off" placeholder="" value="" />
								</div>
							</div>
						</div>
					</div>
					<!-- Phần input -->
					<div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
						<div class="row form-group">
							<div class="col-lg-4 ">
								<div class="row">
									<span class="col-lg-4 mt-1 col-sm-2">HTTT</span>
									<select style="border-color: rgba(0, 0, 0, 0.1);border-width: 1px;height: 2.1rem;" class="input_direction input_httt col-lg-7 col-sm-9" required="">
										<option style="font-size: 12px;color: #9F9CB0" value="">
											Chọn HTTT
										</option>
										<option style="font-size: 12px" class="text_option" value="C">
											Thu ngay
										</option>
										<option style="font-size: 12px" value="M">
											Thu sau
										</option>
									</select>
								</div>
							</div>
							<div class="col-lg-5">
								<div class="row ">
									<span class="mt-1 col-lg-5 col-sm-2">Phương án</span>
									<select style="border-color: rgba(0, 0, 0, 0.1);border-width: 1px;height: 2.1rem;" class="input_direction input_direction3 col-lg-7 col-sm-9" required="">

										<option style="font-size: 12px;color: #9F9CB0" value="">
											Chọn phương án
										</option>
										<% result[1].forEach((item) => { %>
										<option style="font-size: 12px" value="<%=item.JobModeID%>">
											<%= item.JobModeName %>
										</option>
										<% }); %>
									</select>

								</div>
							</div>

						</div>
						<!-- phần dưới -->
						<div class="row form-group">
							<div class="col-lg-4 mt-3">
								<div class="row">
									<span class="col-lg-4 mt-1 col-sm-2">Hướng</span>
									<select style="border-color: rgba(0, 0, 0, 0.1);border-width: 1px;height: 2.1rem;" class="input_direction input_direction1 col-lg-7 col-sm-9" required="">
										<option style="font-size: 12px;color: #9F9CB0" value="">
											Chọn hướng
										</option>
										<option style="font-size: 12px" class="text_option" value="1">
											Hàng nhập
										</option>
										<option style="font-size: 12px" value="2">
											Hàng xuất
										</option>
									</select>
								</div>


							</div>

							<div class="col-lg-4 mt-3">
								<div class="row">

									<span class="mt-1 col-lg-5 col-sm-2">Hàng hóa</span>
									<select style=" border-color: rgba(0, 0, 0, 0.1);border-width: 1px;height: 2.1rem;" class="input_direction input_direction5 col-lg-7 col-sm-9" required="">
										<option style="font-size: 12px;color: #9F9CB0" value="">
											Chọn hàng hóa
										</option>
										<% result[0].forEach((item) => { %>
										<option style="font-size: 12px" value="<%=item.ItemName  %>">
											<%= item.ItemName %>
										</option>
										<% }); %>
									</select>
								</div>

							</div>

							<div class="col-lg-4 mt-3 ">
								<div class="row">
									<span class="col-lg-3 mt-1 col-sm-2">CH</span>
									<input class="input_ch col-lg-8 col-sm-9" style="border-color: rgba(0, 0, 0, 0.1);
									border-width: 1px;height: 2.1rem;font-size: 12px;color: #9F9CB0;" type="text" placeholder="Chủ hàng" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Table -->
			<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="TableMain">
				<table id="MainScreemTable" class="table table-striped display nowrap" cellspacing="0" style="min-width: 100%">
					<thead>
						<tr style="width: 100%">
							<th class="check_th-table">STT</th>
							<th class="check_th-table">Số lệnh</th>
							<th class="check_th-table">Số Pincode</th>
							<th class="check_th-table">Lịch trình tàu</th>
							<th class="check_th-table">Số vận đơn</th>
							<th class="check_th-table">Số Booking</th>
							<th class="check_th-table">Hướng</th>
							<th class="check_th-table">Loại hàng</th>
							<th class="check_th-table">Hàng hóa</th>
							<th class="check_th-table">Số lượng</th>
							<th class="check_th-table">Trọng lượng(Tấn)</th>
							<th class="check_th-table">Vào/Ra</th>
							<th class="check_th-table">Cổng vào</th>
							<th class="check_th-table">Xe vào cổng</th>
							<th class="check_th-table">Cổng ra</th>
							<th class="check_th-table">Xe ra cổng</th>
							<th class="check_th-table">Số xe/Sà lan</th>
							<th class="check_th-table">Số rơmooc</th>
							<th class="check_th-table">Lượt xe</th>
							<th class="check_th-table">Vị trí bãi</th>
							<th class="check_th-table">Phương án</th>
							<th class="check_th-table">PTGN</th>
							<th class="check_th-table">Chủ hàng</th>
							<th class="check_th-table">HTTT</th>
							<th class="check_th-table">ĐTTT</th>
							<th class="check_th-table">Số hóa đơn</th>
							<th class="check_th-table">Số PTC</th>
							<th class="check_th-table">Ghi chú</th>
						</tr>
					</thead>
					<tfoot>
						<tr style="color:red; font-size:13px">
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right">TỔNG</th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right">0</th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
							<th class="text-right"></th>
						</tr>
					</tfoot>
				</table>

			</div>
		</div>
	</div>
</div>
</div>
</div>
<!-- Modal chọn tàu -->
<div class="modal fade" id="vessel-modal" tabindex="-1" role="dialog" aria-labelledby="groups-modalLabel-1" aria-hidden="true" data-whatever="id" style="padding-left: 2%; padding-top: 2%">
	<div class="modal-dialog" role="document" style="min-width: 1024px !important">
		<div class="modal-content" style="border-radius: 4px">
			<div class="modal-header">
				<h5 class="modal-title text-primary" id="groups-modalLabel-1">
					Danh mục tàu
				</h5>
				<button id="VesselSearch" class="btn btn-outline-warning btn-sm btn-loading mr-1" data-loading-text="<i class='la la-spinner spinner'></i>Nạp dữ liệu" title="Nạp dữ liệu">
					<span class="btn-icon"><i class="ti-search"></i>Nạp dữ liệu</span>
				</button>
			</div>
			<div class="modal-body" style="padding: 0px 15px 15px 15px">
				<div class="row mb-0 border-e border-top-0 pb-1 pt-3">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
								<div class="row form-group">
									<label class="col-md-2 col-sm-4 col-xs-4 col-form-label">Tàu</label>
									<input id="VesselNameFilter" class="col-md-8 col-sm-10 col-xs-10 form-control form-control-sm" placeholder="Tên tàu" type="text" />
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
								<div class="row form-group">
									<label class="col-md-2 col-sm-2 col-xs-2 col-form-label">Năm</label>
									<div class="col-md-8 col-sm-10 col-xs-10 input-group input-group-sm">
										<select id="YearFilter" data-width="100%" data-style="btn-default btn-sm" title="Năm" style="
                        width: 80%;
                        border-radius: 2px;
                        border-color: rgba(0, 0, 0, 0.1);
                      ">
											<% for (let i = 2016; i < 2026; i++){ %>
											<option value="<%= i %>"><%= i %></option>
											<% } %>
										</select>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
								<div class="row form-group">
									<label class="radio radio-success ml-5 mt-1">
										<input type="radio" checked name="VesselFilter" class="css-checkbox" value="1" />
										<span class="input-span"></span>Đến cảng
									</label>

									<label class="radio radio-success ml-3 mt-1 mr-3">
										<input type="radio" name="VesselFilter" class="css-checkbox" value="2" />
										<span class="input-span"></span>Rời cảng
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row ibox-footer border-top-0 mt-3">
					<div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
						<table id="VesselTable" class="table table-striped display nowrap" cellspacing="0" style="width: 99.5%">
							<thead>
								<tr style="width: 100%">
									<th col-name="STT">STT</th>
									<th col-name="VoyageKey"></th>
									<th col-name="VesselID">Mã tàu</th>
									<th col-name="VesselName">Tên tàu</th>
									<th col-name="InboundVoyage">Chuyến nhập</th>
									<th col-name="OutboundVoyage">Chuyến xuất</th>
									<th col-name="ETA">ETA</th>
									<th col-name="ETD">ETD</th>
									<th col-name="Status">Status</th>
									<th col-name="InLane">Lane nhập</th>
									<th col-name="OutLane">Lane xuất</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div style="margin: 0 auto !important">
					<button class="btn btn-sm btn-rounded btn-gradient-blue btn-labeled btn-labeled-left btn-icon" id="apply-vessel" data-dismiss="modal">
						<span class="btn-label"><i class="ti-check"></i></span>Xác nhận
					</button>
					<button class="btn btn-sm btn-rounded btn-gradient-peach btn-labeled btn-labeled-left btn-icon" data-dismiss="modal">
						<span class="btn-label"><i class="ti-close"></i></span>Đóng
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
<!-- Drop down list -->
<script type="text/javascript">
	$(document).ready(function() {

		// Tạo datatable
		var _columns = [{
					name: "STT",
					title: "STT",
					className: "text-center editor-cancel ",
					targets: 0,
					render: function(data, type, row, meta) {
						return meta.row + 1;
					},
				},
				{
					data: "EirNo",
					name: "Số lệnh",
					title: "Số lệnh",
					className: "text-center",
					targets: 1,
					render: function(data, type, row) {
						return row.EirNo ? row.EirNo : "";
					},
				},
				{
					data: "Pincode",
					name: "Số Pincode",
					title: "Số Pincode",
					className: "text-center",
					targets: 2,
					render: function(data, type, row) {
						return row.PinCode ? row.PinCode : "";
					},
				},
				{
					data: "InboundVoyage",
					name: "Lịch trình tàu",
					title: "Lịch trình tàu",
					className: "text-center",
					targets: 3,
					render: function(data, type, row) {
						return `${row.VesselName?row.VesselName:""}/${row.InboundVoyage ? row.InboundVoyage : ""}/${row.OutboundVoyage ? row.OutboundVoyage : ""}`;
					},
				},
				{
					data: "BillOfLading",
					name: "Số vận đơn",
					title: "Số vận đơn",
					className: "text-center",
					targets: 4,
					render: (data, type, row) => {
						return row.BillOfLading ? row.BillOfLading : "";
					},
				},
				{
					data: "BookingNo",
					name: "Số Booking",
					title: "Số Booking",
					className: "text-center",
					targets: 5,
					render: (data, type, row) => {
						return row.BookingNo ? row.BookingNo : "";
					},
				},
				{
					data: "ClassID",
					name: "Hướng",
					title: "Hướng",
					className: "text-center",
					targets: 6,
					render: (data, type, row) => {
						return `${row.ClassID==1 ?"Nhập" : "Xuất"}`;
					},
				},
				{
					data: "CargoType",
					name: "Loại hàng",
					title: "Loại hàng",
					className: "text-center",
					targets: 7,
					render: (data, type, row) => {
						return row.CargoTypeName ? row.CargoTypeName : "";
					},
				},
				{
					data: "",
					name: "Hàng hóa",
					title: "Hàng hóa",
					className: "text-center",
					targets: 8,
					render: (data, type, row) => {
						return row.ItemName ? row.ItemName : "";
					}
				},
				{
					data: "Quantity",
					name: "Số lượng",
					title: "Số lượng",
					className: "text-center",
					targets: 9,
					render: (data, type, row) => {
						return row.Quantity ? row.Quantity : "";
					}
				},
				{
					data: "McWeight",
					name: "McWeight",
					title: "Trọng lượng(Tấn)",
					className: "text-center",
					targets: 10,
					render: (data, type, row) => {
						return row.McWeight ? (row.McWeight).toFixed(3) : "";
					},
				},
				{
					data: "InOut",
					name: "Vào/Ra",
					title: "Vào/Ra",
					className: "text-center",
					targets: 11,
					render: (data, type, row) => {
						return `${row.InOut=='I' ? "Vào" : "Ra"}`;
					},
				},
				{
					data: "GateInID",
					name: "Cổng vào",
					title: "Cổng vào",
					className: "text-center",
					targets: 12,
					render: function(data, type, row) {
						return row.GateInID ? row.GateInID : "";
					},
				},
				{
					data: "StartDate",
					name: "Xe vào cổng",
					title: "Xe vào cổng",
					className: "text-center",
					targets: 13,
					render: function(data, type, row) {
						return row.StartDate ? moment(row.StartDate).format("DD-MM-YYYY HH:mm:ss") : "";
					},
				},
				{
					data: "GateOutID",
					name: "Cổng ra",
					title: "Cổng ra",
					className: "text-center",
					targets: 14,
					render: function(data, type, row) {
						return row.GateOutID ? row.GateOutID : "";
					},
				},
				{
					data: "FinishDate",
					name: "Xe ra cổng",
					title: "Xe ra cổng",
					className: "text-center",
					targets: 15,
					render: function(data, type, row) {
						return row.FinishDate ? moment(row.FinishDate).format("DD-MM-YYYY HH:mm:ss") : "";
					},

				},
				{
					data: "TruckNo",
					name: "Số xe/Sà lan",
					title: "Số xe/Sà lan",
					className: "text-center",
					targets: 16,
					render: function(data, type, row) {
						return row.TruckNo ? row.TruckNo : "";
					},
				},
				{
					data: "RM_No",
					name: "RM_No",
					title: "Số romooc",
					className: "text-center",
					targets: 17,
					render: function(data, type, row) {
						return row.RM_No ? row.RM_No : "";
					},
				},
				{
					data: "Sequence",
					name: "Lượt xe",
					title: "Lượt xe",
					className: "text-center",
					targets: 18,
					render: function(data, type, row) {
						return row.Sequence ? row.Sequence : "";
					},
				},
				{
					data: "Block",
					name: "Vị trí bãi",
					title: "Vị trí bãi",
					className: "text-center",
					targets: 19,
					render: function(data, type, row) {
						return row.Block ? row.Block : "";
					},
				},
				{
					data: "JobModeName",
					name: "Phương án",
					title: "Phương án",
					className: "text-center",
					targets: 20,
					render: function(data, type, row) {
						return row.JobModeName ? row.JobModeName : "";
					},
				},
				{
					data: "MethodID",
					name: "PTGN",
					title: "PTGN",
					className: "text-center",
					targets: 21,
					render: function(data, type, row) {
						return row.MethodID ? row.MethodID : "";
					},
				},
				{
					data: "ShipperName",
					name: "Chủ hàng",
					title: "Chủ hàng",
					className: "text-center",
					targets: 22,
					render: function(data, type, row) {
						return row.ShipperName ? row.ShipperName : "";
					},
				},

				{
					data: "PaymentTypeID",
					name: "HTTT",
					title: "HTTT",
					className: "text-center",
					targets: 23,
					render: function(data, type, row) {
						return `${row.PaymentTypeID=="C"?"Thu ngay": row.PaymentTypeID=="M" ? "Thu sau":""}`;
					},
				},
				{
					data: "",
					name: "ĐTTT",
					title: "ĐTTT",
					className: "text-left",
					style: "font-size:12px",
					targets: 24,
					render: function(data, type, row) {
						return `${row.CusID?row.CusID:""}: ${row.CusName?row.CusName:""}`;
					},
				},
				{
					data: "InvoiceNo",
					name: "Số hóa đơn",
					title: "Số hóa đơn",
					className: "text-center",
					targets: 25,
					render: function(data, type, row) {
						return row.InvoiceNo ? row.InvoiceNo : "";
					},
				},
				{
					data: "DraftNo",
					name: "Số PTC",
					title: "Số PTC",
					className: "text-center",
					targets: 26,
					render: function(data, type, row) {
						return row.DraftNo ? row.DraftNo : "";
					},
				},
				{
					data: "Remark",
					name: "Ghi chú",
					title: "Ghi chú",
					className: "text-center",
					targets: 27,
					render: function(data, type, row) {
						return row.Remark ? row.Remark : "";
					},
				},

			],
			TblMain = $("#MainScreemTable");
		var dataTbl = TblMain.newDataTable({
			scrollY: "55vh",
			columnDefs: _columns,
			order: [
				[0, "asc"]
			],
			paging: false,
			keys: true,
			autoFill: {
				focus: "focus",
			},
			select: {
				style: "single",
				info: false,
			},
			buttons: [],
			rowReorder: false,

			footerCallback: function(row, datas, start, end, display) {
				var api = this.api();
				var data = api.rows({
					search: 'applied'
				}).data().toArray();
				if (data.length > 0) {
					let sumWeightOutGlobal = data.reduce(function(sum, item) {
						return sum + item.McWeight;
					}, 0);

					$(api.column(10).footer()).html(sumWeightOutGlobal.toFixed(3));

				} else {
					$(api.column(10).footer()).html();

				}
			}

		});
		//
		// Modal hiển thị chọn tàu
		$("#chooseVessel").on("click", function() {
			$("#vessel-modal").modal("show");
			$("#VesselSearch").trigger("click");
			sumNumRows = 0;
			$("#YearFilter").val(new Date().getFullYear());
		});
		//   Nút xóa dữ liệu thông tin tàu
		$("#nochooseVessel").on("click", function() {
			$("#VesselName").val("")
			$("#VoyageKey").val("");

		});
		// làm màng hình chọn tàu
		$(document).ready(function() {
			var _vesselColumns = ["STT", "VoyageKey", "VesselID", "VesselName", "InboundVoyage", "OutboundVoyage", "ETA", "ETD", "Status", "InLane", "OutLane"],
				tblVessel = $("#VesselTable"),
				vesselModal = $("#vessel-modal");

			/* Initial vessel table */
			tblVessel.newDataTable({
				scrollY: "30vh",
				columnDefs: [{
						type: "num",
						className: "text-center",
						targets: _vesselColumns.indexOf("STT"),
					},
					{
						className: "text-center",
						targets: _vesselColumns.getIndexs(["VesselName", "InboundVoyage", "OutboundVoyage", "ETA", "ETD", "InLane", "OutLane"]),
					},
					{
						className: "hiden-input",
						targets: _vesselColumns.getIndexs(["VoyageKey", "VesselID", "Status"]),
					},
				],
				order: [
					[_vesselColumns.indexOf("STT"), "asc"]
				],
				paging: false,
				keys: true,
				autoFill: {
					focus: "focus",
				},
				select: {
					style: "single",
					info: false,
				},
				buttons: [],
				rowReorder: false,
				arrayColumns: _vesselColumns,
			});

			$("#vessel-modal").on("shown.bs.modal", function(e) {
				$($.fn.dataTable.tables(true)).DataTable().columns.adjust();
			});
			$("#VesselSearch").on("click", function() {
				tblVessel.waitingLoad();
				var formData = {
					filter: {
						Status: {
							operation: 'in',
							value: $("input[type='radio'][name='VesselFilter']:checked").val() == 1 ? [0, 1] : [2, 3, 4, 5, 6]
						},
						VesselName: {
							operation: 'like',
							value: $('#VesselNameFilter').val()
						}
					}
				};
				$.ajax({
					url: "/Report/BaoCao_nxtau/loadVesselVisit",
					dataType: "json",
					data: formData,
					type: "POST",
					success: function(data) {
						var rows = [];
						tblVessel.dataTable().fnClearTable();
						if (data.data.length > 0) {
							for (i = 0; i < data.data.length; i++) {
								var rData = data.data[i],
									r = [];
								$.each(_vesselColumns, function(idx, colname) {
									var val = "";
									switch (colname) {
										case "STT":
											val = i + 1;
											break;
										case "ETA":
										case "ETD":
											val = getDateTime(rData[colname]);
											break;
										default:
											val = rData[colname] ? rData[colname] : "";
											break;
									}
									r.push(val);
								});
								rows.push(r);
							}
						}
						tblVessel.dataTable().fnClearTable();
						if (rows.length > 0) {
							tblVessel.dataTable().fnAddData(rows);
						}
					},
					error: function(err) {
						tblVessel.dataTable().fnClearTable();
						console.log(err);
					},
				});
			});
			// điền dữ liệu vào trong các trường khi nhấn 2 lần vào bảng
			$(document).on("dblclick", "#VesselTable tbody tr", function() {
				var tblVesselSelectedRows = tblVessel
					.getSelectedRows()
					.data()
					.toArray()[0];

				$("#VoyageKey").val(VoyageKey);
				$("#VesselName").val(
					VesselName + " / " + InboundVoyage + " / " + OutboundVoyage
				);
				$("#search").trigger("click");
				vesselModal.modal("hide");
			});
			//Nhấn xác nhận trong bảng chọn tàu sẽ điền dữ liệu vào các trường
			$("#apply-vessel").on("click", function() {
				var tblVesselSelectedRows = tblVessel
					.getSelectedRows()
					.data()
					.toArray()[0];
				let VoyageKey = tblVesselSelectedRows[_vesselColumns.indexOf("VoyageKey")]
				let VesselName = tblVesselSelectedRows[_vesselColumns.indexOf("VesselName")]
				let InboundVoyage = tblVesselSelectedRows[_vesselColumns.indexOf("InboundVoyage")]
				let OutboundVoyage = tblVesselSelectedRows[_vesselColumns.indexOf("OutboundVoyage")]
				let InLane = tblVesselSelectedRows[_vesselColumns.indexOf("InLane")]
				let OutLane = tblVesselSelectedRows[_vesselColumns.indexOf("OutLane")]
				let ETA = tblVesselSelectedRows[_vesselColumns.indexOf("ETA")]
				let ETD = tblVesselSelectedRows[_vesselColumns.indexOf("ETD")]
				$("#VoyageKey").val(VoyageKey);
				$("#VesselName").val(
					VesselName + " / " + InboundVoyage + " / " + OutboundVoyage
				);
			});
		});
		// Sự kiện onclick để nạp dữ liệu
		$(".load_data").on("click", function() {
			// xử lý checkbox phía client
			let check_in = $(".check_IN:checked").attr("value");
			let check_out = $(".check_OUT:checked").attr("value");
			let checkin = [];
			if (check_in && check_out) {
				checkin.push("I", "O");
			}
			if (!check_in && check_out) {
				checkin.push("O");
			}
			if (check_in && !check_out) {
				checkin.push("I");
			}
			if (!check_in && !check_out) {
				checkin = [];
			}
			const element1 = $(".remove")
			element1.remove()
			const element = $(".demo");
			element.remove();
			//call API     
			$.ajax({
				url: "/Report/reportEntrance/get-entranceReport",
				dataType: "json",
				type: "GET",
				data: {
					checkIn: checkin,
					StartDate: $("#TIMEIN").val(),
					FinishDate: $("#TIMEOUT").val(),
					ClassID: $(".input_direction1").val(),
					BillOfLading: $(".input_direction2").val(),
					JobModeID: $(".input_direction3").val(),
					BookingNo: $(".input_direction4").val(),
					ItemID: $(".input_direction5").val(),
					EirNo: $(".input_direction6").val(),
					VoyageKey: $("#VoyageKey").val(),
					HTTT: $(".input_httt").val(),
					CH: $(".input_ch").val()
				},
				success: function(data) {
					$("#MainScreemTable").dataTable().fnClearTable();

					var rows = [];
					if (data?.result?.length > 0) {
						toastr['success']("Load dữ liệu thành công");
						data?.result?.forEach((item, index) => {
							rows.push({
								...item
							});
						});
					}
					if (rows.length > 0) {
						$("#MainScreemTable").dataTable().fnAddData(rows);
					} else {
						$("#MainScreemTable").dataTable().fnClearTable();
						toastr['error']("Không có dữ liệu");
					}

				},
				error: function(error) {
					console.log(error);
				},
			});
		});
	});
	// format inittial time
	$("#TIMEIN").val(moment().add(-7, "day").format("YYYY-MM-DD 00:00:00"));
	$("#TIMEOUT").val(moment().add(7, "day").format("YYYY-MM-DD 23:59:59"));
	$('#TIMEIN,#TIMEOUT').datetimepicker({
		controlType: 'select',
		oneLine: true,
		dateFormat: 'yy-mm-dd',
		timeFormat: "HH:mm:ss",
		onSelect: function(dateText) {
			$(this).val(moment(dateText).format('YYYY-MM-DD HH:mm:ss'))
		}
	});
	// Xuất excel
	$("#Export").on("click", function() {
		let check_in1 = $(".check_IN:checked").attr("value");
		let check_out1 = $(".check_OUT:checked").attr("value");
		let checkin1 = [];
		if (check_in1 && check_out1) {
			checkin1.push("I", "O");
		}
		if (!check_in1 && check_out1) {
			checkin1.push("O");
		}
		if (check_in1 && !check_out1) {
			checkin1.push("I");
		}
		if (!check_in1 && !check_out1) {
			checkin1 = [];
		}
		let StartDate = $("#TIMEIN").val()
		let FinishDate = $("#TIMEOUT").val()
		let ClassID = $(".input_direction1").val()
		let JobModeID = $(".input_direction3").val()
		let ItemID = $(".input_direction5").val()
		let VoyageKey = $("#VoyageKey").val()
		let HTTT = $(".input_httt").val()
		let CH = $(".input_ch").val()
		window.open(`/Report/reportEntrance/exportExcel?${$.param({checkIn:checkin1})}&StartDate=${StartDate}&FinishDate=${FinishDate}&ClassID=${ClassID}&JobModeID=${JobModeID}&ItemID=${ItemID}&VoyageKey=${VoyageKey}&HTTT=${HTTT}&CH=${CH}`)
	});
</script>
<link href="/assets/lichtau/lichtau.css" rel="stylesheet" />
<script src="/assets/lichtau/lichtau.js"></script>
<script src="/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>