<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="referrer"
      content="origin-when-crossorigin"
      id="meta_referrer"
    />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>TALLY</title>
    <!--    favicon-->
    <link rel="icon" href="/assets/img/icons/favicon.ico" type="image/ico" />
    <!-- GLOBAL MAINLY STYLES-->
    <link href="/assets/vendors/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link
      href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendors/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendors/line-awesome/css/line-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendors/themify-icons/css/themify-icons.css"
      rel="stylesheet"
    />

    <link
      href="/assets/vendors/jquery-confirm/jquery-confirm.min.css"
      rel="stylesheet"
    />

    <!-- PLUGINS STYLES-->
    <link
      href="/assets/vendors/dataTables/datatables.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendors/dataTables/jquery.dataTables.min.css"
      rel="stylesheet"
    />
    <!--    DATATABLES SCROLL-->
    <link
      href="/assets/vendors/dataTables/scroller.dataTables.min.css"
      rel="stylesheet"
    />

    <link
      href="/assets/vendors/toastr/toastr.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!--    CUSTOMIZE FOR DATATABLES-->
    <link href="/assets/css/custom.datatables.css" rel="stylesheet" />

    <link href="/assets/vendors/select2/css/select2.min.css" rel="stylesheet" />

    <!-- THEME STYLES-->
    <link href="/assets/css/main.min.css" rel="stylesheet" />
    <link href="/assets/css/ro2.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->

    <!-- CORE PLUGINS-->
    <script src="/assets/vendors/popper.js/dist/umd/popper.min.js"></script>

    <script src="/assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendors/jquery/dist/jquery2-1-4.min.js"></script>
    <script src="/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/vendors/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/assets/vendors/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/assets/vendors/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="/assets/js/jquery.inputmask.bundle.min.js"></script>
    <script src="/assets/vendors/moment/min/moment.min.js"></script>

    <script src="/assets/js/contextmenu.js"></script>

    <link
      href="/assets/vendors/datetimepicker/jquery-ui-timepicker-addon.css"
      rel="stylesheet"
    />
    <script src="/assets/vendors/datetimepicker/jquery-ui-timepicker-addon.js"></script>
    <script
      type="text/javascript"
      src="/assets/vendors/select2/js/select2.full.min.js"
    ></script>
    <!--    custom for eblling js-->
    <script src="/assets/js/ro2.js"></script>
    <script src="/assets/js/datatables.ext.js"></script>

    <!-- PAGE LEVEL PLUGINS-->
    <script src="/assets/vendors/dataTables/datatables.min.js"></script>

    <!--    TABLES SCROLL-->
    <script src="/assets/vendors/dataTables/dataTables.scroller.min.js"></script>
    <script
      type="text/javascript"
      src="/assets/vendors/dataTables/extensions/key_table.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/assets/vendors/dataTables/extensions/mindmup-editabletable.js"
    ></script>
    <script
      type="text/javascript"
      src="/assets/vendors/dataTables/extensions/numeric-input-example.js"
    ></script>
    <script
      type="text/javascript"
      src="/assets/vendors/dataTables/extensions/autofill.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/assets/vendors/dataTables/extensions/scroller.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/assets/vendors/dataTables/extensions/select.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/assets/vendors/dataTables/extensions/buttons.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/assets/vendors/dataTables/extensions/jszip/jszip.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/assets/vendors/dataTables/extensions/buttons.html5.min.js"
    ></script>

    <!-- Toastr js -->
    <script src="/assets/vendors/toastr/toastr.min.js"></script>

    <!-- Loader -->
    <script src="/assets/vendors/loaders/blockui.min.js"></script>
    <script src="/assets/vendors/loaders/progressbar.min.js"></script>

    <style>
      #user_fullname {
        display: inherit !important;
      }

      .app-title {
        font-family: LineAwesome, serif;
        /*0 5px 10px rgba(0,0,0,.35),*/
        /*0 10px 10px rgba(0,0,0,.3),*/
        background-color: transparent;
        color: #fc4920;
      }

      .brand-font {
        font-family: Helvetica Neue, Helvetica, Arial, serif;
        text-shadow: 0 1px 1px #bbb, 0 2px 0 #999, 0 3px 0 #888, 0 4px 0 #777,
          0 5px 0 #666, 0 6px 0 #555, 0 7px 0 #444, 0 8px 0 #333,
          0 9px 7px #302314;
        background-color: transparent;
      }

      .icon-bar-cl {
        background-color: #fc4920;
      }

      #alogout {
        padding-left: 10px;
      }

      #user-info:hover,
      #alogout:hover {
        color: #3300aa;
      }
      #editor-input {
        display: none;
      }
      @media (max-width: 960px) {
        .app-title::before {
          content: "GTOS";
          font-size: 4vw;
        }

        #right-out {
          font-size: 2vw;
        }
      }

      @media (max-width: 960px) and (orientation: landscape) {
        .app-title {
          padding-top: 1.05rem;
        }

        .app-title::before {
          content: "GTOS";
          font-size: 3vw;
        }

        #right-out {
          font-size: 1.75vw;
        }
      }

      @media (min-width: 960px) and (max-width: 1280px) {
        .app-title::before {
          content: "GTOS";
          font-size: 2.1vw;
        }

        #right-out {
          font-size: 1.5vw;
        }
      }

      @media (min-width: 1366px) {
        .app-title {
          padding-top: 1rem;
        }

        .app-title::before {
          content: "GTOS";
        }
      }

      .content-wrapper {
        width: 100%;
        background: url("/assets/img/register-bgr-3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px;
        min-height: calc(100vh - 27px);
      }

      #nav-icon {
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        width: 32px;
        height: 32px;
        margin: 4px;
      }

      #nav-icon span {
        display: block;
        position: absolute;
        height: 2px;
        width: 50%;
        background: #fff;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }

      #nav-icon span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
      }

      #nav-icon span:nth-child(odd) {
        left: 0px;
        border-radius: 9px 0 0 9px;
      }

      #nav-icon span:nth-child(1),
      #nav-icon span:nth-child(2) {
        top: 5px;
      }

      #nav-icon span:nth-child(3),
      #nav-icon span:nth-child(4) {
        top: 14px;
      }

      #nav-icon span:nth-child(5),
      #nav-icon span:nth-child(6) {
        top: 24px;
      }

      #nav-icon.open span:nth-child(1),
      #nav-icon.open span:nth-child(6) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      #nav-icon.open span:nth-child(2),
      #nav-icon.open span:nth-child(5) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      #nav-icon.open span:nth-child(1) {
        left: 5px;
        top: 12px;
      }

      #nav-icon.open span:nth-child(2) {
        left: calc(50% - 5px);
        top: 12px;
      }

      #nav-icon.open span:nth-child(3) {
        left: -50%;
        opacity: 0;
      }

      #nav-icon.open span:nth-child(4) {
        left: 100%;
        opacity: 0;
      }

      #nav-icon.open span:nth-child(5) {
        left: 5px;
        top: 18px;
      }

      #nav-icon.open span:nth-child(6) {
        left: calc(50% - 5px);
        top: 18px;
      }

      .header {
        height: 40px;
        background: #4c6c8b;
        z-index: 99 !important;
      }
      .nav-hambuger {
        width: 40px;
      }
      .nav-content {
        width: calc(100% - 40px);
        padding: 0px 15px;
      }
      .lx_full {
        height: 100%;
        width: 100%;
        color: #fff;
        background: #0a455f;
        height: 40px;
        border: 1px solid #fff;
        box-shadow: inset 0px 0px 10px #454545;
        outline: none;
        padding: 0px 10px;
      }
      .lx_full::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fff;
        opacity: 1; /* Firefox */
      }

      .lx_full:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff;
      }

      .lx_full::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #fff;
      }
      .lx_full[readonly] {
        background-color: #0a455f !important;
      }
      #menu_box {
        width: 280px;
        height: calc(100vh - 40px);
        background: #ffffff;
        padding: 0px;
        position: fixed;
        left: -290px;
        top: 40px;
        border-right: 1px solid #b6b6b6;
        box-shadow: 0px 0px 5px #111;
        transition: all 0.5s cubic-bezier(0.58, 1.48, 0.44, 0.5);
      }
      #menu_box.open {
        left: 0px;
      }
      #menu_box a {
        display: block;
        width: 100%;
        padding: 5px 10px;
        text-align: center;
        border-bottom: 1px solid #0a455f;
      }
      #menu_box a:hover {
        background: #0a455f;
        color: #fff;
      }
      #select_box,
      #select_method_box,
      #set_value_box {
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0px;
        top: 0px;
        background-color: rgba(1, 1, 1, 0.3);
        z-index: 9999999;
      }
      .m-tech-table {
        display: block;
        width: 100%;
        height: 100%;
      }
      .m-list-title {
        color: #ffffff;
        background: #0a455f;
      }
      .m-tech-table tbody {
        display: block;
        max-height: calc(100% - 31px);
        min-height: calc(100% - 31px);
        overflow-y: scroll;
        background-color: #86c8e5;
      }

      .m-tech-table thead,
      .m-tech-table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }
      .m-tech-list {
        background-color: #86c8e5;
        color: #ffffff;
        border-bottom: 1px solid #e3e3e3;
        cursor: pointer;
      }

      .m-tech-list.active {
        background-color: #286c96;
      }
      .m-tech-list:hover {
        background-color: #427696;
      }
      .m-tech-list td {
        text-align: center;
      }
      .setinp {
        width: 100%;
        border: 1px solid #427696;
        padding: 5px 10px;
        font-weight: bold;
        background-color: #ffffff59 !important;
      }
      .setvaluebtn {
        width: 200px;
        font-weight: bold;
        position: absolute;
        bottom: -15px;
        height: 30px;
        padding: 4px;
        left: calc((100% - 200px) / 2);
        cursor: pointer;
      }

      .setvaluebtn span {
        z-index: 1;
        position: relative;
      }
      .setvaluebtn:before {
        content: "";
        display: block;
        width: 200px;
        background: #82c1c1;
        font-weight: bold;
        position: absolute;
        bottom: 0px;
        height: 30px;
        padding: 4px;
        left: calc((100% - 200px) / 2);
        box-shadow: 1px 1px 4px #111;
        cursor: pointer;
        transform: skewX(30deg);
      }
      select.setinp {
        color: #777879;
      }
    </style>
  </head>

  <body class="fixed-navbar">
    <div class="page-wrapper">
      <!-- START HEADER-->
      <header class="header">
        <div class="nav-hambuger">
          <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="nav-content">
          <div class="row">
            <div class="col-md-4 p-0">
              <input
                autocomplete="off"
                class="lx_full"
                id="VoyageKey"
                hidden
                readonly
              /><input
                autocomplete="off"
                class="lx_full"
                id="VesselName"
                readonly
                placeholder="Chọn tàu ..."
              />
            </div>
            <div class="col-md-2 p-0">
              <input
                autocomplete="off"
                class="lx_full"
                id="ImExVoy"
                readonly
                placeholder="Chuyến ..."
              />
            </div>
            <div class="col-md-2 p-0">
              <input
                autocomplete="off"
                class="lx_full"
                id="ClassID"
                hidden
                readonly
              /><input
                autocomplete="off"
                class="lx_full"
                id="ClassName"
                readonly
                placeholder="Loại công việc ..."
              />
            </div>
            <div class="col-md-2 p-0">
              <input
                autocomplete="off"
                class="lx_full"
                id="WorkerGroupID"
                hidden
                readonly
              /><input
                autocomplete="off"
                class="lx_full"
                id="WorkerName"
                readonly
                placeholder="Tổ CN ..."
              />
            </div>
            <div class="col-md-2 p-0">
              <input
                autocomplete="off"
                class="lx_full"
                id="DeviceID"
                hidden
                readonly
              /><input
                autocomplete="off"
                class="lx_full"
                id="DriverName"
                readonly
                placeholder="Thiết bị ..."
              />
            </div>
          </div>
        </div>
        <div id="menu_box">
          <a onClick="loadhis()">Lịch sử công việc</a>
          <a href="/user/logout">Đăng xuất</a>
        </div>
      </header>
      <!-- END HEADER-->

      <div class="content-wrapper">
        <table id="select_box">
          <tr>
            <td align="center" valign="middle">
              <div
                style="
                  width: 80%;
                  background: #fff;
                  border: 1px solid #b6b6b6;
                  border-radius: 4px;
                  min-height: 80vh;
                  margin: 0px !important;
                  position: relative;
                "
              >
                <div
                  style="
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    background: red;
                    color: #ffffff;
                    width: 30px;
                    height: 30px;
                    padding: 5px;
                    font-size: 20px;
                    line-height: 14px;
                    cursor: pointer;
                  "
                  id="close_select_box"
                >
                  x
                </div>
                <div
                  style="
                    width: 100%;
                    background: #0a455f;
                    color: #ffffff;
                    font-size: 18px;
                    padding: 6px;
                  "
                >
                  Chọn Tàu/Chuyến - Tổ đội công nhân - Thiết bị
                </div>
                <div
                  class="container"
                  style="
                    margin: 0px !important;
                    width: 100%;
                    max-width: 100%;
                    padding: 0px;
                  "
                >
                  <div class="row" style="width: 100%; padding: 0px">
                    <div class="col-md-8 col-xs-12" style="padding: 0px">
                      <div
                        class="full_height"
                        style="height: 80vh; padding-top: 2px"
                      >
                        <div style="height: 100%">
                          <table
                            class="m-tech-table"
                            id="tally-ship-list"
                            style="width: 100%"
                            cellpadding="5"
                          >
                            <thead class="m-list-title">
                              <tr>
                                <th>Tên tàu</th>
                                <th>Mã tàu</th>
                                <th>Chuyến</th>
                              </tr>
                            </thead>
                            <tbody id="tally-ship-content">
                              <% (locals.loadVesselVisit||[]).map(itm=>{ %>
                              <tr
                                class="m-tech-list"
                                value="<%= itm.VoyageKey %>"
                              >
                                <td class="ShipName"><%= itm.VesselName %></td>
                                <td class="ShipID"><%= itm.VesselID %></td>
                                <td class="ShipVoy">
                                  <%= itm.InboundVoyage+'/'+itm.OutboundVoyage
                                  %>
                                </td>
                              </tr>
                              <% }) %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-xs-12" style="padding: 0px">
                      <div
                        class="full_height"
                        style="height: 80vh; padding-top: 2px"
                      >
                        <div style="height: 50%; width: 100%">
                          <table
                            class="m-tech-table"
                            id="tally-worker-list"
                            style="width: 100%"
                            cellpadding="5"
                          >
                            <thead class="m-list-title">
                              <tr>
                                <th>Tổ đội công nhân</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% (locals.loadWorkerGroup||[]).map(itm=>{ %>
                              <tr
                                class="m-tech-list"
                                value="<%= itm.WorkerGroupID %>"
                              >
                                <td><%= itm.WorkerGroupName %></td>
                              </tr>
                              <% }) %>
                            </tbody>
                          </table>
                        </div>
                        <div style="height: 50%; width: 100%">
                          <table
                            class="m-tech-table"
                            id="tally-device-list"
                            style="width: 100%"
                            cellpadding="5"
                          >
                            <thead class="m-list-title">
                              <tr>
                                <th>Chọn thiết bị</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% (locals.loadDevice||[]).map(itm=>{ %>
                              <tr
                                class="m-tech-list"
                                value="<%= itm.DeviceID %>"
                              >
                                <td><%= itm.DeviceName %></td>
                              </tr>
                              <% }) %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>






















            </div>
            <!-- END PAGE CONTENT-->
            <footer class="page-footer">
                <div class="font-13">2020 © <b>C.E.H</b> - Certified Ethical Hacker</div>
                <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
            </footer>
            </div>
            </div>
            <input autocomplete="off" style="display: none" id="editor-input" />
            <!-- BEGIN PAGA BACKDROPS-->
            <div class="sidenav-backdrop backdrop"></div>
            <div class="preloader-backdrop">
                <div class="page-preloader">Loading</div>
            </div>
            <!-- END PAGA BACKDROPS-->
            
            <!-- CORE SCRIPTS-->
            <script src="/assets/js/app.min.js"></script>
            
            <script>
                var resizefunc = [];
            
                $.extend(true, $.fn.dataTable.defaults, {
                    language: {
                        info: "Số dòng: _TOTAL_",
                        emptyTable: "------------ Không có dữ liệu hiển thị ------------",
                        infoFiltered: "(trên _MAX_ dòng)",
                        infoEmpty: "Số dòng: 0",
                        search: '<span>Tìm:</span> _INPUT_',
                        zeroRecords: "------------ Không có dữ liệu được tìm thấy ------------",
                        sThousands: ",",
                        sDecimal: ".",
                        // autoFill: {
                        //     // fillHorizontal: 'Đổ dữ liệu theo dòng',
                        //     // fillVertical: 'Đổ dữ liệu theo cột',
                        //     // fill: b[0][0].label,
                        //     // increment: 'Thay đổi tất cả các ô theo giá trị: <input autocomplete="off" type="number" value="1">',
                        //     // cancel: 'Hủy bỏ',
                        //     // button:'Go!'
                        // },
                        select: {
                            rows: {
                                _: "Đã chọn %d dòng",
                                0: ""
                            }
                        }
                    },
                    search: {
                        regex: true
                    },
                    info: true,
                    orderClasses: false,
                    paging: false,
                    scrollY: 419,
                    scrollX: true,
                    lengthChange: false,
                    scrollCollapse: false,
                    deferRender: true,
                    processing: true,
                    autoWidth: true,
                    dom: '<"datatable-header"fl<"datatable-info-right"Bip>><"datatable-scroll-wrap"t>',
                    buttons: [
                        { extend: 'selectAll', text: 'Chọn tất cả', className: 'btn btn-xs btn-default' },
                        { extend: 'selectNone', text: 'Bỏ chọn', className: 'btn btn-xs btn-default' }
                    ],
                    destroy: true
                });
            
                function switchTer() {
                    $.ajax({
                        url: "user/switch-terminal",
                        type: 'POST',
                        success: function (data) {
                            $('body').append(data)
                        },
                        error: function (err) {
                            console.log(err);
                            toastr.error(err.message || 'internal error!')
                        }
                    });
                }
            
                function lockScreen(is) {
            
                }
            </script>
            <script>
                function loadhis(){
                    $.ajax({
                            url: "/tally/viewHis",
                            dataType: 'json',
                            data: {},
                            type: 'POST',
                            success: function (res) {
                                if(res.data){
                                    let htmlx=`<table width="100%" cellspacing=0 cellpadding="5" border="1px">
                                        <thead style="color: #ffffff;background: #0a455f;">
                                            <tr>
                                                <td width="30px">STT</td>
                                                <td>Thời gian</td>
                                                <td>Xe</td>
                                                <td>Tổ đội</td>
                                                <td>Thiết bị</td>
                                                <td>Số lượng</td>
                                                <td>Trọng lượng</td>
                                                <td>Hầm</td>
                                                <td>Nhập/Xuất</td>
                                                <td>Ghi chú</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            ${res.data.map((itm,ii)=>{
                                                return `<tr>                                                    
                                                    <td align="center">${ii+1}</td>
                                                    <td>${itm.CreateTime?moment(itm.CreateTime).format('YYYY-MM-DD HH:mm:ss'):''}</td>
                                                    <td>${itm.TruckNo||''}</td>
                                                    <td>${itm.WorkerGroupName||''}</td>
                                                    <td>${itm.DeviceName||''}</td>
                                                    <td>${itm.Quantity||''}</td>
                                                    <td>${itm.McWeight||''}</td>
                                                    <td>${itm.Cellar||''}</td>
                                                    <td>${(itm.ClassID+'')?'Nhập':'Xuất'}</td> 
                                                    <td>${itm.Note||''}</td> 
                                                </tr>`;
                                            }).join('')}
                                        </tbody>
                                        </table>`
                                    $.confirm({
                                        title: 'Lịch sử người dùng!',
                                        type: 'blue',
                                        icon: 'fa fa-warning',
                                        boxWidth: '90%',
                                        useBootstrap: false,
                                        content: htmlx,
                                        buttons: {
                                            ok: {
                                                text: 'Xác nhận',
                                                btnClass: 'btn-warning',
                                                keys: ['Enter'],
                                                action: function () {
                                                }
                                            },
                                        }
                                    });
                                }
                            },
                            error: function (err) {
                                toastr["error"]("Error!");
                                console.log(err);
                            }
                    });
                }
                $(document).ready(function () {

                    $('#nav-icon').on('click',function(){
                        
                        if($(this).hasClass('open')){
                            $(this).removeClass('open');
                            $('#menu_box').removeClass('open');
                        }
                        else{
                            $(this).addClass('open');
                            $('#menu_box').addClass('open');
                        }
                    })

                    $('.app-title').text(` - ${JSON.parse(localStorage.getItem('user_info')).CurrentTerminal.Name}`)
                    $('#sidebar-collapse').slimScroll({ height: "100%", railOpacity: "0.9" });
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "1000",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "swing",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };
            
                    $("#_myDrawerSidebar").on('change', function () {
                        if (!isMobile.any()) {
                            $("#_drawerSidebar").prop('checked', !$(this).is(':checked')).trigger('change');
                            ($("body").hasClass("has-backdrop") && $("#sidebar").backdrop())
                            setTimeout(function () {
                                $($.fn.dataTable.tables(true)).DataTable()
                                    .columns
                                    .adjust();
                            }, 220);
                        }
                    });
            
                    $('a.nav-link.sidebar-toggler.js-sidebar-toggler').on('click', function () {
                        setTimeout(function () {
                            $('.dataTable tbody').closest('table').each(function (k, v) {
                                $(v).realign();
                            });
                        }, 250);
                    });
            
                    //remove class error when change value
                    $(document).on('input', '.error input', function () {
                        $(this).parent().removeClass('error');
                    });
            
                    $('[data-action="reloadUI"]').on('click', function (e) {
                        var block = $(this).attr('data-reload-target');
                        $(block).block({
                            message: '<i class="la la-spinner spinner"></i>',
                            overlayCSS: {
                                backgroundColor: '#fff',
                                opacity: 0.8,
                                cursor: 'wait',
                                'box-shadow': '0 0 0 1px #ddd'
                            },
                            css: {
                                border: 0,
                                padding: 0,
                                backgroundColor: 'none'
                            }
                        });
                    });








                    $(document).on('click','#close_select_box',function(){
                        $('#select_box').hide();
                        $('#select_method_box').hide();
                        $('#set_value_box').hide();
                    })
                    $(document).on('click','#VesselName, #ImExVoy, #WorkerName, #DriverName',function(){
                        $('#select_box').show();
                    })
                    $(document).on('click','#ClassName',function(){
                        $('#select_method_box').show();
                    })

                    
                    $(document).on('click','.m-tech-list',function(){
                        $(this).closest('tbody').find('tr.active').removeClass('active');
                        $(this).addClass('active');
                    })
                    $('#ClassID').val('all');
                    $('#ClassName').val('Tất cả');
                    $(document).on('click','#tally-device-list tr',function(){
                        if($('#tally-ship-content tr.active').length && $('#tally-worker-list tr.active').length && $('#tally-device-list tr.active').length){
                            $('#VoyageKey').val($('#tally-ship-content tr.active').attr('value'));
                            $('#VesselName').val($('#tally-ship-content tr.active').find('td:nth-child(1)').text());
                            $('#ImExVoy').val($('#tally-ship-content tr.active').find('td:nth-child(3)').text());
                            $('#WorkerGroupID').val($('#tally-worker-list tr.active').attr('value'));
                            $('#WorkerName').val($('#tally-worker-list tr.active').find('td:nth-child(1)').text());
                            $('#DeviceID').val($('#tally-device-list tr.active').attr('value'));
                            $('#DriverName').val($('#tally-device-list tr.active').find('td:nth-child(1)').text());
                            $('#select_box').hide();
                            loadData();
                        }
                    })
                    $(document).on('click','#tally-method-list tr',function(){
                        $('#ClassID').val($('#tally-method-list tr.active').attr('value'));
                        $('#ClassName').val($('#tally-method-list tr.active').find('td:nth-child(1)').text());
                        $('#select_method_box').hide();
                        loadData();
                    })
                    $(document).on('click','#tally-method-list tr',function(){
                        $('#ClassID').val($('#tally-method-list tr.active').attr('value'));
                        $('#ClassName').val($('#tally-method-list tr.active').find('td:nth-child(1)').text());
                        $('#select_method_box').hide();
                    })

                    window.rowdata={};
                    $(document).on('click','#contenttable tr',function(){
                        let rowdata=$(this).closest('table').DataTable().row(this).data();
                        window.rowdata=rowdata;
                        console.log(rowdata);
                        $('#BNAME').html(rowdata.BillOfLading||rowdata.BookingNo);
                        $('#set_value_box').show();
                        $('#set-TransitName').val(rowdata.JobModeName);
                        $('#set-ItemName').val(rowdata.ItemName);
                        $('#set-TruckNo').val('');
                        $('#set-Quantity').val('');
                        $('#set-McWeight').val('');
                        $('#set-Note').val('');
                        let Cellars=parseInt(rowdata.Cellars||'0');
                        let html=`<option value="0">Hầm</option>`;
                        for (let ii = 0; ii < Cellars; ii++) {
                            html+=`<option value="${ii+1}">${ii+1}</option>`;
                        }
                        $('#set-Cellars').html(html);
                        //$('#set-TransitName').val(rowdata.ClassName);
                    })

                    var _columns = [
                        { width: "50px", data: "STT", name: "STT", title: "STT", className: "text-center  editor-cancel", targets: 0 },
                        { data: "TransitName", name: "TransitName", title: "Loại công việc", className: "text-center", targets: 1,render:(data,type,row)=>{
                            switch (row.ClassID+'') {
                                case '1':
                                    return 'Nhập tàu';
                                    break;
                                case '2':
                                    return 'Xuất tàu';
                                    break;
                                default:
                                    return '';
                                    break;
                            }
                        } },
                        { width: "220px", data: "BillOfLading", name: "BillOfLading", title: "Số vận đơn / Booking", className: "text-center", targets: 2, render:(data,type,row)=>{
                            return row.BillOfLading||row.BookingNo;
                        } },
                        { data: "ItemName", name: "ItemName", title: "Hàng hóa", className: "text-center", targets: 3},
                        { data: "JobModeName", name: "JobModeName", title: "Phương án vào", className: "text-center", targets: 4 },
                        { data: "MethodName", name: "MethodName", title: "Phương thức vào", className: "text-center", targets: 5 },
                        { data: "Quantity", name: "Quantity", title: "SL kê khai", className: "text-center", targets: 6 },
                        { data: "CargoWeight", name: "CargoWeight", title: "TL kê khai", className: "text-center", targets: 7 },
                        { data: "ActualQuantity", name: "ActualQuantity", title: "SL thực tế", className: "text-center", targets: 8 },
                        { data: "ActualWeight", name: "ActualWeight", title: "TL thực tế", className: "text-center", targets: 9 },
                        { data: "rowguid", name: "rowguid", title: "rowguid", visible: false, targets: 10 },
                    ],
                        tbl = $('#contenttable'),
                        dataList = <%- JSON.stringify(locals.dataList || []) %>;
                    var dataTbl = tbl.newDataTable({
                        scrollY: '55vh',
                        columnDefs: _columns,
                        data: dataList.map((itm, ii) => { return { ...itm, STT: ii + 1 } }),
                        order: [[0, 'asc']],
                        paging: false,
                        keys: true,
                        autoFill: {
                            focus: 'focus',
                        },
                        select: true,
                        rowReorder: false
                    });


                    function loadData(){
                        tbl.dataTable().fnClearTable();
                        $.ajax({
                            url: "/tally/loadTallyData",
                            dataType: 'json',
                            data: {filter:{
                                VoyageKey:$('#VoyageKey').val(),
                                ClassID:($('#ClassID').val()!='all'?$('#ClassID').val():undefined)
                            }},
                            type: 'POST',
                            success: function (res) {
                                tbl.dataTable().fnClearTable();
                                tbl.dataTable().fnAddData((res.data||[]).map((itm,ii)=>({...itm,STT:ii+1})));
                            },
                            error: function (err) {
                                tbl.dataTable().fnClearTable();
                                toastr["error"]("Error!");
                                console.log(err);
                            }
                        });
                    }      
                    $(document).on('input','#set-Quantity',function(){
                        let oncew=window.rowdata.Quantity?(window.rowdata.CargoWeight/window.rowdata.Quantity):0;
                        let val=parseFloat($(this).val());
                        $('#set-McWeight').val((val*oncew)||0);
                    })              
                    $(document).on('click','.setvaluebtn',function(){
                        if(!$('#set-TruckNo').val())return toastr.error('Chưa nhập thông tin số xe !');
                        if(!$('#set-Quantity').val())return toastr.error('Chưa nhập số lượng !');
                        if(!$('#set-McWeight').val())return toastr.error('Chưa nhập trọng lượng !');
                        if(!parseInt($('#set-Cellars').val()))return toastr.error('Chưa chọn số hầm !');

                        let postdata={
                            WorkerGroupID: $('#WorkerGroupID').val(),
                            DeviceID: $('#DeviceID').val(),
                            TallyType: 1,
                            MethodID: window.rowdata.MethodID,
                            ItemID: window.rowdata.ItemID,
                            ClassID: window.rowdata.ClassID,
                            VoyageKey: window.rowdata.VoyageKey,
                            BillOfLading: window.rowdata.BillOfLading,
                            BookingNo: window.rowdata.BookingNo,
                            TruckNo: $('#set-TruckNo').val(),
                            Quantity: $('#set-Quantity').val(),
                            McWeight: $('#set-McWeight').val(),
                            Cellar: $('#set-Cellars').val(),
                            Note: $('#set-Note').val(),
                            RefRowguid: window.rowdata.rowguid,
                        };
                        $.ajax({
                            url: "/tally/saveTallyData",
                            dataType: 'json',
                            data: postdata,
                            type: 'POST',
                            success: function (res) {
                                if(res.error){
                                   return toastr.error(res.error.message||res.error);
                                } 
                                if(res.data){
                                    toastr.success('Lưu hoàn tất !!');
                                    loadData();
                                }                                
                            },
                            error: function (err) {
                                tbl.dataTable().fnClearTable();
                                toastr["error"]("Error!");
                                console.log(err);
                            }
                        });



                        $('#set_value_box').hide();
                    })

                });
            
            </script>
            </body>
            
            </html>
