<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="referrer" content="origin-when-crossorigin" id="meta_referrer" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />

	<title>
		<% if(locals.title){%>
		<%=locals.title%>
		<%} else { %>
		GTOS
		<% } %>

	</title>
	<!--    favicon-->
	<link rel="icon" href="/assets/img/icons/favicon.ico" type="image/ico">
	<!-- GLOBAL MAINLY STYLES-->
	<link href="/assets/vendors/jquery-ui/jquery-ui.css" rel="stylesheet" />
	<link href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<!-- <link href="/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" /> -->
	<link href="/assets/fonts/fontawesome-free-6.4.0-web/css/all.css" rel="stylesheet" />
	<link href="/assets/vendors/line-awesome/css/line-awesome.min.css" rel="stylesheet" />
	<link href="/assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />

	<link href="/assets/vendors/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />

	<!-- PLUGINS STYLES-->
	<link href="/assets/vendors/dataTables/datatables.min.css" rel="stylesheet" />
	<link href="/assets/vendors/dataTables/jquery.dataTables.min.css" rel="stylesheet" />
	<!--    DATATABLES SCROLL-->
	<link href="/assets/vendors/dataTables/scroller.dataTables.min.css" rel="stylesheet" />

	<link href="/assets/vendors/toastr/toastr.min.css" rel="stylesheet" type="text/css" />

	<!--    CUSTOMIZE FOR DATATABLES-->
	<link href="/assets/css/custom.datatables.css" rel="stylesheet" />

	<!-- THEME STYLES-->
	<link href="/assets/css/main.min.css" rel="stylesheet" />
	<link href="/assets/css/ro2.css" rel="stylesheet" />
	<!-- PAGE LEVEL STYLES-->

	<!-- CORE PLUGINS-->
	<script src="/socket.io/socket.io.js"></script>
	<script src="/assets/vendors/popper.js/dist/umd/popper.min.js"></script>

	<script src="/assets/vendors/jquery/dist/jquery.min.js"></script>
	<script src="/assets/vendors/jquery/dist/jquery2-1-4.min.js"></script>
	<script src="/assets/vendors/jquery-ui/jquery-ui.js"></script>
	<script src="/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/assets/vendors/metisMenu/dist/metisMenu.min.js"></script>
	<script src="/assets/vendors/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/assets/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="/assets/vendors/jquery-confirm/jquery-confirm.min.js"></script>
	<script src="/assets/js/jquery.inputmask.bundle.min.js"></script>
	<script src="/assets/vendors/moment/min/moment.min.js"></script>
	<script src="/assets/js/moment-timezone-with-data.min.js"></script>

	<script src="/assets/js/contextmenu.js"></script>

	<link href="/assets/vendors/datetimepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
	<script src="/assets/vendors/datetimepicker/jquery-ui-timepicker-addon.js"></script>
	<!--    custom for eblling js-->
	<script src="/assets/js/ro2.js"></script>
	<script src="/assets/js/datatables.ext.js"></script>

	<!-- PAGE LEVEL PLUGINS-->
	<script src="/assets/vendors/dataTables/datatables.min.js"></script>

	<!--    TABLES SCROLL-->
	<script src="/assets/vendors/dataTables/dataTables.scroller.min.js"></script>
	<script type="text/javascript" src="/assets/vendors/dataTables/extensions/key_table.min.js"></script>
	<script type="text/javascript" src="/assets/vendors/dataTables/extensions/mindmup-editabletable.js"></script>
	<script type="text/javascript" src="/assets/vendors/dataTables/extensions/numeric-input-example.js"></script>
	<script type="text/javascript" src="/assets/vendors/dataTables/extensions/autofill.min.js"></script>
	<script type="text/javascript" src="/assets/vendors/dataTables/extensions/scroller.min.js"></script>
	<script type="text/javascript" src="/assets/vendors/dataTables/extensions/select.min.js"></script>
	<script type="text/javascript" src="/assets/vendors/dataTables/extensions/buttons.min.js"></script>
	<script type="text/javascript" src="/assets/vendors/dataTables/extensions/jszip/jszip.min.js"></script>
	<script type="text/javascript" src="/assets/vendors/dataTables/extensions/buttons.html5.min.js"></script>

	<!-- Toastr js -->
	<script src="/assets/vendors/toastr/toastr.min.js"></script>

	<!-- Loader -->
	<script src="/assets/vendors/loaders/blockui.min.js"></script>
	<script src="/assets/vendors/loaders/progressbar.min.js"></script>

	<style>
		body {
			font-size: 0.9rem !important;
		}

		#user_fullname {
			display: inherit !important;
		}

		.app-title {
			font-family: LineAwesome, serif;
			/*0 5px 10px rgba(0,0,0,.35),*/
			/*0 10px 10px rgba(0,0,0,.3),*/
			background-color: transparent;
			color: #fc4920;
		}

		.brand-font {
			font-family: Helvetica Neue, Helvetica, Arial, serif;
			text-shadow: 0 1px 1px #bbb,
				0 2px 0 #999,
				0 3px 0 #888,
				0 4px 0 #777,
				0 5px 0 #666,
				0 6px 0 #555,
				0 7px 0 #444,
				0 8px 0 #333,
				0 9px 7px #302314;
			background-color: transparent;
		}

		.icon-bar-cl {
			background-color: #fc4920;
		}

		#alogout {
			padding-left: 10px;
		}

		#user-info:hover,
		#alogout:hover {
			color: #3300aa;
		}

		@media (max-width: 960px) {
			.app-title::before {
				content: 'GTOS';
				font-size: 4vw;
			}

			#right-out {
				font-size: 2vw;
			}
		}

		@media (max-width: 960px) and (orientation: landscape) {
			.app-title {
				padding-top: 1.05rem;
			}

			.app-title::before {
				content: 'GTOS';
				font-size: 3vw;
			}

			#right-out {
				font-size: 1.75vw;
			}
		}

		@media (min-width: 960px) and (max-width: 1280px) {
			.app-title::before {
				content: 'GTOS';
				font-size: 2.1vw;
			}

			#right-out {
				font-size: 1.5vw;
			}
		}

		@media (min-width: 1366px) {
			.app-title {
				padding-top: 1rem;
			}

			.app-title::before {
				content: 'GTOS';
			}
		}

		.content-wrapper {
			/*min-height: 1024px !important;*/
			background: url("/assets/img/register-bgr-3.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</head>

<body class="fixed-navbar">
	<div class="page-wrapper">
		<!-- START HEADER-->
		<header class="header">
			<div class="page-brand">
				<a href="/" style="display:block; height: 90%; width: auto; margin: auto">
					<img src="/assets/img/logos/logo-csg.png" style="display:block; height: 100%; width: auto; margin: auto" title="Cảng Sài Gòn" />
				</a>
			</div>
			<div class="flexbox flex-1">
				<!-- START TOP-LEFT TOOLBAR-->
				<ul class="nav navbar-toolbar">
					<li>
						<a class="nav-link sidebar-toggler js-sidebar-toggler" href="javascript:;">
							<span class="icon-bar icon-bar-cl"></span>
							<span class="icon-bar icon-bar-cl"></span>
							<span class="icon-bar icon-bar-cl"></span>
						</a>
					</li>
					<li>
						<div class="ibox-head">
							<h3 class="font-weight-bold text-center pl-3 app-title"></h3>
						</div>
					</li>
				</ul>
				<!-- END TOP-LEFT TOOLBAR-->
				<!-- START TOP-RIGHT TOOLBAR-->
				<ul id="right-out" class="nav navbar-toolbar">
					<li class="dropdown dropdown-user">
						<a id="user-info" class="nav-link dropdown-toggle link" style="padding-right: 0; ">
							Welcome,&ensp;<span id="user_fullname">
								<%= locals.userName || '' %>
							</span>
						</a>
					</li>
					<li>
						<a id="alogout" class="d-flex align-items-center" title="đăng xuất" href="/user/logout"><i class="ti-shift-right"></i></a>
					</li>
				</ul>
				<!-- END TOP-RIGHT TOOLBAR-->
			</div>
		</header>
		<!-- END HEADER-->

		<!-- START SIDEBAR-->
		<nav class="page-sidebar" id="sidebar">
			<div id="sidebar-collapse">
				<ul class="side-menu metismenu">
					<li>
						<a href="javascript:;"><i class="sidebar-item-icon ti-home"></i>
							<span class="nav-label">Dashboards</span>
						</a>
					</li>

					<% if(locals.menus) for (var [_, menu] of Object.entries(locals.menus)) {
                        if(Object.keys(menu['submenu']).length> 0) { %>
					<li id="<%=menu['MenuID']%>">
						<a href="javascript:;">
							<i class="sidebar-item-icon la la-tasks"></i>
							<span class="nav-label">
								<%=menu['MenuName']%>
							</span>
							<i class="fa fa-angle-right arrow"></i>
						</a>
						<ul class="nav-2-level collapse">
							<% for(var [_, sub] of Object.entries(menu['submenu'])) { %>
							<li>
								<a href="/<%=menu['MenuID']%>/<%=sub['MenuID']%>" title="<%=sub['MenuName']%>" style="padding-left: 2em"><i style="font-size: 20px;margin-right: 5px;" class="sidebar-item-icon <%=sub['MenuIcon']%>"></i>
									<%=sub['MenuName']%>
								</a>
							</li>
							<% } %>
						</ul>
					</li>

					<!-- end row -->
					<% }} %>
				</ul>
				<div class="sidebar-footer" style="justify-content: center;">
					<input id="_drawerSidebar" type="checkbox" hidden>
					<label class="ui-switch switch-icon switch-square mb-0" title="Collaspe menu" style="width: 25%;">
						<input id="_myDrawerSidebar" type="checkbox" checked>
						<span style="background-color: #d1d4d7; border: 1px solid #d1d4d7; height: 15px;width: 40px;">
						</span>
					</label>
					<a class="pt-1" href="#" onclick="lockScreen(true)" title="Lock screen">
						<i class="fa fa-lock font-bold" style="font-size: 24px;"></i>
					</a>
					<a class="" href="#" onclick="switchTer()" title="Logout">
						<i class="fa fa-sitemap font-bold" style="font-size: 22px;"></i>
					</a>
				</div>
			</div>
		</nav>
		<!-- END SIDEBAR-->
		<div class="content-wrapper">
			<!-- START PAGE CONTENT-->
			<div class="page-content">