<script>
	document.title = "Thay đổi công việc tàu";
</script>
<script src="/assets/js/bootstrap-select.min.js"></script>
<style>
	.btn-style {
		width: 2rem !important;
		height: 2rem !important;
	}

	.w-full {
		width: 100%;
		padding: 5px;
		border-radius: 3px;
		border-color: rgba(0, 0, 0, 0.1);
		border-width: 1px;
		color: #746c6c;
	}
</style>
<!-- main screen -->
<div class="row">
	<div class="col-xl-12" style="font-size: 12px">
		<div class="ibox collapsible-box">
			<i class="la la-angle-double-up dock-right"></i>
			<!-- Title name -->
			<div class="ibox-head">
				<div class="ibox-title">THAY ĐỔI CÔNG VIỆC TÀU</div>
				<div class="button-bar-group mr-3">
					<button id="findData" class="btn btn-warning btn-sm" title="Tìm kiếm" data-toggle="modal">
						<i class="ti-search"></i>
						Tìm kiếm
					</button>
					<button id="saveData" class="btn btn-primary btn-sm" title="Lưu dữ liệu" data-toggle="modal">
						<i class="fa fa-save"></i>
						Lưu dữ liệu
					</button>
				</div>
			</div>
			<!-- Filter name -->
			<div class="ibox-body pt-0 pb-0 bg-f9 border-e">
				<div class="row ibox mb-0 border-e pb-1 pt-1">
					<!-- cột trái -->
					<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
						<!-- input vesel -->
						<div class="row form-group">
							<div class="col-xl-3 col-form-label">
								<label>Tàu/Chuyến</label>
							</div>

							<div class="col-xl-6 input-group-sm">
								<div class="input-group">
									<input id="VoyageKey" class="form-control form-control-sm" type="text" hidden="" />
									<input id="VesselName" placeholder="Tên tàu/Chuyến nhập/Chuyến xuất" type="text" class="form-control form-control-sm input-required" />
								</div>
							</div>
							<div class="col-xl-3">
								<button id="chooseVessel" class="btn btn-success btn-circle btn-icon-only btn-sm btn-style" title="Chọn tàu">
									<i class="ti-plus"></i>
								</button>
								<button id="nochooseVessel" class="btn btn-danger btn-circle btn-icon-only btn-sm btn-style" title="Bỏ chọn">
									<i class="ti-close"></i>
								</button>
							</div>
						</div>
						<!-- input booking -->
						<div class="row form-group">
							<div class="col-xl-3 col-form-label">
								<label>Số booking</label>
							</div>
							<div class="col-xl-6 input-group-sm">
								<div class="input-group">
									<input id="BookingNo" placeholder="Số Booking" type="text" class="form-control form-control-sm input-required" />
								</div>
							</div>
						</div>
						<!-- input billOfLading -->
						<div class="row form-group">
							<div class="col-xl-3 col-form-label">
								<label>Số vận đơn</label>
							</div>
							<div class="col-xl-6 input-group-sm">
								<div class="input-group">
									<input id="BillOfLading" placeholder="Số vận đơn" type="text" class="form-control form-control-sm input-required" />
								</div>
							</div>
						</div>
					</div>
					<!-- cột giữa -->
					<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
						<div class="row form-group ml-1">
							<div class="col-xl-4 col-form-label">
								<label style="margin-left: -20px" class="mt-1 radio radio-info">
									<input type="radio" name="ClassID" class="css-checkbox" value="1" checked />
									<span class="input-span"></span>Nhập tàu
								</label>
							</div>
							<div class="col-xl-4 col-form-label">
								<label style="margin-left: -13px" class="mt-1 radio radio-info">
									<input type="radio" name="ClassID" class="css-checkbox" value="2" />
									<span class="input-span"></span>Xuất tàu
								</label>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-xl-4 col-form-label">
								<label>Trạng thái </label>
							</div>
							<div class="col-xl-8">
								<select class="w-full work_status">
									<option style="font-size: 12px" value="">
										Chọn trạng thái
									</option>
									<option style="font-size: 12px" value="A">A</option>
									<option style="font-size: 12px" value="B">B</option>
									<option style="font-size: 12px" value="C">C</option>
									<option style="font-size: 12px" value="D">D</option>
								</select>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-xl-4 col-form-label">
								<label class="checkbox checkbox-blue">
									<input type="checkbox" name="chkServiceAttach" id="chkServiceAttach" value="1" checked />
									<span class="input-span"></span>
									Ngày hoàn tất
								</label>
							</div>
							<div class="col-xl-8 input-group-sm">
								<div class="input-group">
									<input class="form-control form-control-sm" id="getIn" type="text" autocomplete="off" placeholder="" value="" />
									<span class="ml-3 mr-3 mt-2">∼</span>
									<input class="form-control form-control-sm" id="getOut" type="text" autocomplete="off" placeholder="" value="" />
								</div>
							</div>
						</div>
					</div>
					<!-- Cột phải -->
					<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
						<div class="row">
							<div class="col-xl-4 col-form-label">
								<label>Tổ đội công nhân</label>
							</div>
							<div class="col-xl-8">
								<select class="w-full worker_team">
									<option style="font-size: 12px" value="">
										Chọn tổ đội công nhân
									</option>
									<% result.forEach((item) => { %>
									<option style="font-size: 12px" value="<%=item.WorkerGroupID%>">
										<%= item.WorkerGroupName %>
									</option>
									<% }); %>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Phần table -->
			<div class="row ibox-footer border-top-0">
				<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="TableMain">
					<table id="MainScreemTable" class="table table-striped display nowrap" cellspacing="0" style="min-width: 100%">
						<thead></thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal chọn tàu -->
<div class="modal fade" id="vessel-modal" tabindex="-1" role="dialog" aria-labelledby="groups-modalLabel-1" aria-hidden="true" data-whatever="id" style="padding-left: 2%; padding-top: 2%">
	<div class="modal-dialog" role="document" style="min-width: 1024px !important">
		<div class="modal-content" style="border-radius: 4px">
			<div class="modal-header">
				<h5 class="modal-title text-primary" id="groups-modalLabel-1">
					Danh mục tàu
				</h5>
				<button id="VesselSearch" class="btn btn-outline-warning btn-sm btn-loading mr-1" data-loading-text="<i class='la la-spinner spinner'></i>Nạp dữ liệu" title="Nạp dữ liệu">
					<span class="btn-icon"><i class="ti-search"></i>Nạp dữ liệu</span>
				</button>
			</div>
			<div class="modal-body" style="padding: 0px 15px 15px 15px">
				<div class="row mb-0 border-e border-top-0 pb-1 pt-3">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
								<div class="row form-group">
									<label class="col-md-2 col-sm-4 col-xs-4 col-form-label">Tàu</label>
									<input id="VesselNameFilter" class="col-md-8 col-sm-10 col-xs-10 form-control form-control-sm" placeholder="Tên tàu" type="text" />
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
								<div class="row form-group">
									<label class="col-md-2 col-sm-2 col-xs-2 col-form-label">Năm</label>
									<div class="col-md-8 col-sm-10 col-xs-10 input-group input-group-sm">
										<select id="YearFilter" data-width="100%" data-style="btn-default btn-sm" title="Năm" style="
                        width: 80%;
                        border-radius: 2px;
                        border-color: rgba(0, 0, 0, 0.1);
                      ">
											<% for (let i = 2016; i < 2026; i++){ %>
											<option value="<%= i %>"><%= i %></option>
											<% } %>
										</select>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
								<div class="row form-group">
									<label class="radio radio-success ml-5 mt-1">
										<input type="radio" checked name="VesselFilter" class="css-checkbox" value="1" />
										<span class="input-span"></span>Đến cảng
									</label>

									<label class="radio radio-success ml-3 mt-1 mr-3">
										<input type="radio" name="VesselFilter" class="css-checkbox" value="2" />
										<span class="input-span"></span>Rời cảng
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row ibox-footer border-top-0 mt-3">
					<div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
						<table id="VesselTable" class="table table-striped display nowrap" cellspacing="0" style="width: 99.5%">
							<thead>
								<tr style="width: 100%">
									<th col-name="STT">STT</th>
									<th col-name="VoyageKey"></th>
									<th col-name="VesselID">Mã tàu</th>
									<th col-name="VesselName">Tên tàu</th>
									<th col-name="InboundVoyage">Chuyến nhập</th>
									<th col-name="OutboundVoyage">Chuyến xuất</th>
									<th col-name="ETA">ETA</th>
									<th col-name="ETD">ETD</th>
									<th col-name="Status">Status</th>
									<th col-name="InLane">Lane nhập</th>
									<th col-name="OutLane">Lane xuất</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div style="margin: 0 auto !important">
					<button class="btn btn-sm btn-rounded btn-gradient-blue btn-labeled btn-labeled-left btn-icon" id="apply-vessel" data-dismiss="modal">
						<span class="btn-label"><i class="ti-check"></i></span>Xác nhận
					</button>
					<button class="btn btn-sm btn-rounded btn-gradient-peach btn-labeled btn-labeled-left btn-icon" data-dismiss="modal">
						<span class="btn-label"><i class="ti-close"></i></span>Đóng
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$("#getIn").val(moment().startOf("day").format("YYYY-MM-DD HH:mm:ss"));
		$("#getOut").val(moment().endOf("day").format("YYYY-MM-DD HH:mm:ss"));
		$("#getIn, #getOut").datetimepicker({
			controlType: "select",
			oneLine: true,
			dateFormat: "yy-mm-dd",
			timeFormat: "HH:mm:ss",
			onSelect: function(dateText) {
				$(this).val(moment(dateText).format("YYYY-MM-DD HH:mm:ss"));
			},
		});
		let data = <%- JSON.stringify(resultItem|| []) %>;
		let dataDevice = <%- JSON.stringify(resultDevice|| []) %>;
		var _columns = [{
				data: "",
				name: "STT",
				title: "STT",
				className: "text-center editor-cancel ",
				targets: 0,
				render: function(data, type, row, meta) {
					return meta.row + 1;
				},

			},
			{
				data: "BillOfLading",
				name: "Số vận đơn",
				title: "Số vận đơn",
				className: "text-center editor-cancel ",
				targets: 1,

			},
			{
				data: "BookingNo",
				name: "Số booking",
				title: "Số booking",
				className: "text-center editor-cancel ",
				targets: 2,

			},
			{
				data: "",
				name: "Tàu chuyến",
				title: "Tàu chuyến",
				className: "text-center editor-cancel ",
				targets: 3,
				render: function(data, type, row) {
					return `${row.VesselName?row.VesselName:""}/${row.InboundVoyage ? row.InboundVoyage : ""}/${row.OutboundVoyage ? row.OutboundVoyage : ""}`;
				},

			},
			{
				data: "JobModeName",
				name: "Phương án",
				title: "Phương án",
				className: "text-center editor-cancel ",
				targets: 4,

			},
			{
				data: "MethodName",
				name: "Phương thức",
				title: "Phương thức",
				className: "text-center editor-cancel ",
				targets: 5,

			},

			{
				data: "ItemName",
				name: "Tên hàng hóa",
				title: "Tên hàng hóa",
				className: "text-center autocomplete",
				targets: 6,
				list: data.map(item => {
					return {
						value: item.ItemName,
						label: item.ItemName
					}
				})
			},
			{
				data: "Quantity",
				name: "Số lượng",
				title: "Số lượng",
				className: "text-center data-type-numeric",
				targets: 7,

			},
			{
				data: "McWeight",
				name: "Trọng lượng",
				title: "Trọng lượng",
				className: "text-center",
				targets: 8,


			},
			{
				data: "Volume",
				name: "Thể tích",
				title: "Thể tích",
				className: "text-center data-type-numeric",
				targets: 9,

			},
			{
				data: "JobStatus",
				name: "Trạng thái công việc",
				title: "Trạng thái công việc",
				className: "text-center",
				targets: 10,

			},
			{
				data: "CreateTime",
				name: "Ngày hoàn tất",
				title: "Ngày hoàn tất",
				className: "text-center data-type-datetime",
				targets: 11,


			},
			{
				data: "DeviceID",
				name: "Cẩu bờ",
				title: "Cẩu bờ",
				className: "text-center autocomplete",
				targets: 12,
				list: dataDevice.map(item => {
					return {
						value: item.DeviceID,
						label: item.DeviceID
					}
				})
			},
			{
				data: "TruckNo",
				name: "Số xe",
				title: "Số xe",
				className: "text-center",
				targets: 13,
			},
			{
				data: "WorkerGroupName",
				name: "Tổ đội công nhân",
				title: "Tổ đội công nhân",
				className: "text-center",
				targets: 14,
			},
			{
				data: "Note",
				name: "Ghi chú",
				title: "Ghi chú",
				className: "text-center",
				targets: 15,
			},
		];
		let TblMain = $("#MainScreemTable");
		var dataTbl = TblMain.newDataTable({
			scrollY: "55vh",
			columnDefs: _columns,
			order: [
				[0, "asc"]
			],
			paging: false,
			keys: true,
			autoFill: {
				focus: "focus",
			},
			select: {
				style: "single",
				info: false,
			},
			buttons: [],
			rowReorder: false,
		});
		TblMain.editableTableWidget();
		// Hiển thị modal chọn tàu
		$("#chooseVessel").on("click", function() {
			$("#vessel-modal").modal("show");
			$("#VesselSearch").trigger("click");
			sumNumRows = 0;
			$("#YearFilter").val(new Date().getFullYear());
		});

		//   Nút xóa dữ liệu thông tin tàu
		$("#nochooseVessel").on("click", function() {
			$("#VesselName").val("");
			$("#VoyageKey").val("");
		});
		// làm màng hình chọn tàu
		$(document).ready(function() {
			var _vesselColumns = ["STT", "VoyageKey", "VesselID", "VesselName", "InboundVoyage", "OutboundVoyage", "ETA", "ETD", "Status", "InLane", "OutLane"],
				tblVessel = $("#VesselTable"),
				vesselModal = $("#vessel-modal");

			/* Initial vessel table */
			tblVessel.newDataTable({
				scrollY: "30vh",
				columnDefs: [{
						type: "num",
						className: "text-center",
						targets: _vesselColumns.indexOf("STT"),
					},
					{
						className: "text-center",
						targets: _vesselColumns.getIndexs(["VesselName", "InboundVoyage", "OutboundVoyage", "ETA", "ETD", "InLane", "OutLane"]),
					},
					{
						className: "hiden-input",
						targets: _vesselColumns.getIndexs(["VoyageKey", "VesselID", "Status"]),
					},
				],
				order: [
					[_vesselColumns.indexOf("STT"), "asc"]
				],
				paging: false,
				keys: true,
				autoFill: {
					focus: "focus",
				},
				select: {
					style: "single",
					info: false,
				},
				buttons: [],
				rowReorder: false,
				arrayColumns: _vesselColumns,
			});

			$("#vessel-modal").on("shown.bs.modal", function(e) {
				$($.fn.dataTable.tables(true)).DataTable().columns.adjust();
			});
			$("#VesselSearch").on("click", function() {
				tblVessel.waitingLoad();
				var formData = {
					filter: {
						Status: {
							operation: 'in',
							value: $("input[type='radio'][name='VesselFilter']:checked").val() == 1 ? [0, 1] : [2, 3, 4, 5, 6]
						},
						VesselName: {
							operation: 'like',
							value: $('#VesselNameFilter').val()
						}
					}
				};
				$.ajax({
					url: "/Report/BaoCao_nxtau/loadVesselVisit",
					dataType: "json",
					data: formData,
					type: "POST",
					success: function(data) {
						var rows = [];
						tblVessel.dataTable().fnClearTable();
						if (data.data.length > 0) {
							for (i = 0; i < data.data.length; i++) {
								var rData = data.data[i],
									r = [];
								$.each(_vesselColumns, function(idx, colname) {
									var val = "";
									switch (colname) {
										case "STT":
											val = i + 1;
											break;
										case "ETA":
										case "ETD":
											val = getDateTime(rData[colname]);
											break;
										default:
											val = rData[colname] ? rData[colname] : "";
											break;
									}
									r.push(val);
								});
								rows.push(r);
							}
						}
						tblVessel.dataTable().fnClearTable();
						if (rows.length > 0) {
							tblVessel.dataTable().fnAddData(rows);
						}
					},
					error: function(err) {
						tblVessel.dataTable().fnClearTable();
						console.log(err);
					},
				});
			});
			// điền dữ liệu vào trong các trường khi nhấn 2 lần vào bảng
			$(document).on("dblclick", "#VesselTable tbody tr", function() {
				var tblVesselSelectedRows = tblVessel
					.getSelectedRows()
					.data()
					.toArray()[0];
				let VoyageKey = tblVesselSelectedRows[_vesselColumns.indexOf("VoyageKey")]
				let VesselName = tblVesselSelectedRows[_vesselColumns.indexOf("VesselName")]
				let InboundVoyage = tblVesselSelectedRows[_vesselColumns.indexOf("InboundVoyage")]
				let OutboundVoyage = tblVesselSelectedRows[_vesselColumns.indexOf("OutboundVoyage")]
				let InLane = tblVesselSelectedRows[_vesselColumns.indexOf("InLane")]
				let OutLane = tblVesselSelectedRows[_vesselColumns.indexOf("OutLane")]
				let ETA = tblVesselSelectedRows[_vesselColumns.indexOf("ETA")]
				let ETD = tblVesselSelectedRows[_vesselColumns.indexOf("ETD")]
				$("#VoyageKey").val(VoyageKey);
				$("#VesselName").val(
					VesselName + " / " + InboundVoyage + " / " + OutboundVoyage
				);
				$("#search").trigger("click");
				vesselModal.modal("hide");
			});
			$(document).on("click", "#VesselTable tbody tr", function() {
				$('#VesselTable tbody tr.selected').removeClass('selected');
				$(this).addClass('selected');
			});
			//Nhấn xác nhận trong bảng chọn tàu sẽ điền dữ liệu vào các trường
			$("#apply-vessel").on("click", function() {
				var tblVesselSelectedRows = tblVessel
					.getSelectedRows()
					.data()
					.toArray()[0];
				let VoyageKey = tblVesselSelectedRows[_vesselColumns.indexOf("VoyageKey")]
				let VesselName = tblVesselSelectedRows[_vesselColumns.indexOf("VesselName")]
				let InboundVoyage = tblVesselSelectedRows[_vesselColumns.indexOf("InboundVoyage")]
				let OutboundVoyage = tblVesselSelectedRows[_vesselColumns.indexOf("OutboundVoyage")]
				let InLane = tblVesselSelectedRows[_vesselColumns.indexOf("InLane")]
				let OutLane = tblVesselSelectedRows[_vesselColumns.indexOf("OutLane")]
				let ETA = tblVesselSelectedRows[_vesselColumns.indexOf("ETA")]
				let ETD = tblVesselSelectedRows[_vesselColumns.indexOf("ETD")]
				$("#VoyageKey").val(VoyageKey);
				$("#VesselName").val(
					VesselName + " / " + InboundVoyage + " / " + OutboundVoyage
				);
			});
		});
		// onclick nạp dữ liệu
		$("#findData").on("click", function() {
			let checkBox = $("#chkServiceAttach:checked").attr("value")
			let startTime = ""
			let endTime = ""
			if (checkBox) {
				startTime = $("#getIn").val()
				endTime = $("#getOut").val()
			}
			$.ajax({
				url: "/Changes/chJobShip/getDataJobTally",
				dataType: "json",
				type: "GET",
				data: {
					VoyageKey: $("#VoyageKey").val(),
					BookingNo: $("#BookingNo").val(),
					BillOfLading: $("#BillOfLading").val(),
					ClassID: $("input[type='radio'][name='ClassID']:checked").val(),
					workerStatus: $(".work_status").val(),
					workerTeam: $(".worker_team").val(),
					timeIn: startTime,
					timeOut: endTime
				},
				success: function(data) {
					$("#MainScreemTable").dataTable().fnClearTable();
					var rows = [];
					if (data?.result?.length > 0) {
						toastr['success']("Load dữ liệu thành công");
						data?.result?.forEach((item, index) => {
							rows.push({
								...item,
								McWeight: (item.McWeight).toFixed(3),
								CreateTime: moment(item.CreateTime).utc().format("YYYY-MM-DD HH:mm:ss")
							});
						});
					}
					if (rows.length > 0) {
						$("#MainScreemTable").dataTable().fnAddData(rows);
					} else {
						$("#MainScreemTable").dataTable().fnClearTable();
						toastr['error']("Không có dữ liệu");
					}
				},
				error: function(err) {

				},
			});
		});
		// Sự kiện lưu dữ liệu
		$("#saveData").on("click", function() {
			if (TblMain.DataTable().rows('.editing').data().toArray().length == 0) {
				$(".toast").remove();
				toastr["info"]("Không có dữ liệu thay đổi!");
			} else {
				let temp = TblMain.DataTable().rows('.editing').data().toArray();
				let tblDataNew = temp.map(item => {
					return {
						...item,
						ItemID: data.filter(itm => itm.ItemName === item.ItemName)[0].ItemID
					};
				});
				var newData = tblDataNew;
				$.confirm({
					title: 'Thông báo!',
					type: 'orange',
					icon: 'fa fa-warning',
					content: 'Tất cả các thay đổi sẽ được lưu lại!\nTiếp tục?',
					buttons: {
						ok: {
							text: 'Xác nhận lưu',
							btnClass: 'btn-warning',
							keys: ['Enter'],
							action: function() {

								saveData(newData);
							}
						},
						cancel: {
							text: 'Hủy bỏ',
							btnClass: 'btn-default',
							keys: ['ESC']
						}
					}
				});
			}
		});
		// Function saveData
		function saveData(sendData) {
			var saveBtn = $('#saveData');
			saveBtn.button('loading');
			$('.ibox.collapsible-box').blockUI();
			$.ajax({
				url: "/Changes/chJobShip/save",
				dataType: 'json',
				data: {
					'data': sendData
				},
				type: 'POST',
				success: function(response) {
					let data = response.data;
					saveBtn.button('reset');
					$('.ibox.collapsible-box').unblock();
					if (data.iStatus) {
						toastr["success"](data.iMessage);
						TblMain.DataTable().rows('.editing').nodes().to$().removeClass("editing");
						TblMain.updateSTT(0);
					} else {
						toastr["error"](data.iMessage);
						return;
					}
				},
				error: function(err) {
					toastr["error"](data.iMessage);
					saveBtn.button('reset');
					$('.ibox.collapsible-box').unblock();
				}
			});
		}
	});
</script>