<script>
  document.title = "HÀNH TRÌNH TÀU";
</script>
<link href="/assets/vendors/bootstrap-select/dist/css/bootstrap-select.min.css"rel="stylesheet" />

<style>
   .flex {
  height: 30px;
  width: 900px;
  }
  .square-frame-line3 {
  position: relative;
  display: inline-block;
  }
  .square-line3 {
  position: absolute;
  top: -15px;
  left: 55px;
  width: 20px;
  height: 20px;
  border: 1px solid lightblue;
  background-color: rgba(255, 255, 255, 0);
  }
  .square-frame-line8 {
  position: relative;
  display: inline-block;
  }
  .square-line8 {
  position: absolute;
  top: 20px;
  left: 55px;
  width: 20px;
  height: 20px;
  border: 1px solid lightblue;
  background-color: rgba(255, 255, 255, 0);
  }
  .ilinespan {
  width: 20px;
  height: 20px;
  position: absolute;
  text-align: center;
  top: -15px;
  left: 55px;
  opacity: 1;
  z-index: 1;
  font-weight: bold;
  }
  .ilinespan8 {
  width: 20px;
  height: 20px;
  position: absolute;
  text-align: center;
  top: 20px;
  left: 55px;
  opacity: 1;
  z-index: 1;
  font-weight: bold;
  }
  .col-item {
  height: 100%;
  margin-right: 6rem;
  position: relative;
  }
  .col-item::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 102%;
  transform: translateY(-50%);
  height: 2px;
  width: calc(100% - -65%);
  background-color: rgb(0, 157, 255);
  }
  .col-item2 {
  height: 100%;
  margin-right: 6rem;
  position: relative;
  }
  .col-item2::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translateY(-50%);
  height: 1px;
  width: calc(100% - -60%);
  background-color: lightblue;
  }
  /* .col-item2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid lightblue;
  border-bottom: 5px solid transparent;
  } */
  .col-item3 {
  height: 100%;
  margin-right: 6rem;
  position: relative;
  }
  .col-item3::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 100%;
  transform: translateY(-50%);
  height: 1px;
  width: calc(100% - -60%);
  background-color: lightblue;
  }
  .col-item4 {
  height: 100%;
  margin-right: 6rem;
  position: relative;
  }
  .col-item4::after {
  content: "";
  position: absolute;
  top: 65%;
  left: 101%;
  transform: translateY(-50%);
  height: 2px;
  width: calc(100% - -65%);
  background-color: rgb(0, 157, 255);
  }
  .line-down {
  height: 100%;
  }
  .line-down::after {
  content: "";
  position: absolute;
  top: 0.9rem;
  bottom: 0;
  left: 84%;
  transform: translateX(-50%);
  height: 18.4rem;
  width: 2px;
  background-color: rgb(0, 157, 255);
  }
  .line-down2 {
  height: 100%;
  }
  .line-down2::after {
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 18%;
  transform: translateX(-50%);
  height: 13rem;
  width: 1px;
  background-color: lightblue;
  }
  .col-item2short {
  height: 100%;
  margin-right: 6rem;
  position: relative;
  }
  .col-item2short::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translateY(-50%);
  height: 1px;
  width: calc(100% - -20%);
  background-color: lightblue;
  }
  .col-item3short {
  height: 100%;
  margin-right: 6rem;
  position: relative;
  }
  .col-item3short::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 100%;
  transform: translateY(-50%);
  height: 1px;
  width: calc(100% - -20%);
  background-color: lightblue;
  }
  .iline1 {
  max-width: 7rem !important;
  border: 2px solid rgb(0, 157, 255);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  .iline10 {
  max-width: 7rem !important;
  border: 2px solid rgb(0, 157, 255);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  .square-frame {
  width: 1rem;
  min-width: 20px;
  height: 1.5rem;
  position: absolute;
  text-align: center;
  line-height: 1rem;
  margin-left: 1px;
  left: 85px;
  opacity: 1;
  transition: opacity 90s;
  }
  .square-frame:hover {
  opacity: 1;
  animation: fadeOut 90s forwards;
  }
  .iline1:hover + .square-frame {
  opacity: 1;
  animation: fadeOut 90s forwards;
  }
  @keyframes fadeOut {
  0% {
  opacity: 1;
  }
  50% {
  opacity: 0.5;
  }
  100% {
  opacity: 0;
  }
  }
  .input-container {
  display: flex;
  align-items: center;
  }
  .ti1 {
  position: absolute;
  left: 51px;
  top: -10px;
  }
  .ti3 {
  position: absolute;
  left: 16.3rem;
  top: -5px;
  color: lightblue;
  }.ti4 {
  position: absolute;
  left: 16.3rem;
  top: 35px;
  color: lightblue;
  }
  .ti2 {
  position: absolute;
  left: 51px;
  top: 5px;
  }
  /* .ti5{
  position: absolute;
  left: 74px;
  top: 35px;
  color: lightblue;
  }
  .ti6{
  position: absolute;
  left: 74px;
  color: lightblue;
  } */
  /* #tblFullPort .datatable-scroll-wrap{
  width: 350px !important;
  } */
  .dataTables_scrollBody{
  max-height: 38vh !important;
  height: 32.2vh !important;
  }
  #vesselModel {
  animation: shimmy 40s infinite linear;
  animation-fill-mode: forwards;
  filter: brightness(100%) saturate(200%) hue-rotate(180deg);
  position: absolute; 
  top: 100px;
  z-index: 999;
  }
  @keyframes shimmy {
  0% {
  transform: translate(0, 0);
  opacity: 1;
  }
  20% {
  transform: translate(56rem, 0) ;
  opacity: 1;
  }
  40% {
  transform: translate(56rem, 0rem) rotate3d(0, 1, 0, 180deg) ;
  opacity: 1;
  }
  60% {
  transform: translate(56rem, 13rem) rotate3d(0, 1, 0, 180deg);
  opacity: 1;
  }
  80%{
  transform: translate(0rem, 13rem) rotate3d(0, 1, 0, 180deg);
  opacity: 0;
  }
  100%{
  transform: translate(0rem, 13rem) rotate3d(0, 1, 0, 180deg);
  opacity: 0;
  }
  }
  .col-md-8,
  .col-sm-8,
  .col-8 {
    padding: 0;
  }

  .input-group-dm {
    display: flex;
    flex-direction: column;
  }

  .form-control {
    width: 100%;
    padding: 5px;
  }

  .btn-primary {
    width: 50%;
    padding: 5px;
    margin-top: 10px;
  }

  /* Các điểm bắt đầu breakpoints */
  @media (min-width: 992px) {
    /* Thiết lập kích thước cho màn hình lớn hơn hoặc bằng 992px */
    .col-md-8 {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    /* Thiết lập kích thước cho màn hình từ 768px đến 991px */
    .col-sm-8 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  }

  @media (max-width: 767px) {
    /* Thiết lập kích thước cho màn hình nhỏ hơn 767px */
    .col-8 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
</style>

<div class="row">
  <div class="col-xl-12">
    <div class="ibox collapsible-box">
      <i class="la la-angle-double-up dock-right"></i>
      <div class="ibox-head">
        <div class="ibox-title">HÀNH TRÌNH TÀU</div>
        <div class="button-bar-group mr-3">
          <button
            id="addrow"
            class="btn btn-outline-success btn-sm mr-1"
            title="Thêm hành trình mới">
            <span class="btn-icon"><i class="fa fa-plus"></i>Thêm mới</span>
          </button>
          <button
            id="save"
            class="btn btn-outline-primary btn-sm mr-1"
            data-loading-text="<i class='la la-spinner spinner'></i>Lưu dữ liệu"
            title="Lưu dữ liệu">
            <span class="btn-icon"><i class="fa fa-save"></i>Lưu</span>
          </button>
          <button
            id="delete"
            class="btn btn-outline-danger btn-sm mr-1"
            data-loading-text="<i class='la la-spinner spinner'></i>Xóa dòng"
            title="Xóa những dòng đang chọn">
            <span class="btn-icon"><i class="fa fa-trash"></i>Xóa dòng</span>
          </button>
        </div>
      </div>
      <div class="ibox-body pt-0 pb-0 bg-f9 border-e">
        <div class="row ibox mb-0 border-e pb-0 pt-2">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="row form-group">
                  <label class="col-md-4 col-sm-6 col-xs-6 col-form-label pt-2"
                    >Mã hành trình</label
                  >
                  <div
                    class="col-md-6 col-sm-6 col-xs-6 input-group input-group-sm">
                    <select
                      id="LaneIDFilter"
                      class="selectpicker"
                      data-width="100%"
                      data-style="btn-default btn-sm"
                      data-live-search="true"
                      title="Nhập mã hành trình">
                      <% if((laneList||[]).length > 0)%> <% laneList.map(item=>
                      { %>
                      <option value="<%=item['LaneID']%>">
                        <%=item['LaneID']%>
                      </option>
                      <% })%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="row form-group">
                  <label class="col-md-5 col-sm-6 col-xs-6 col-form-label pt-2" hidden
                    >Truy vấn tên hành trình</label
                  >
                  <div
                    class="col-md-6 col-sm-6 col-xs-6 input-group input-group-sm">
                    <input
                      id="LaneNameFilter"
                      class="form-control form-control-sm"
                      placeholder="Nhập tên hành trình"
                      type="text" hidden/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-6 pain">
          <b
            style="
              display: flex;
              justify-content: center;

              width: 100%;
            "
            ><h3 style="font-weight: 600 !important; text-align: center">
              CHI TIẾT HÀNH TRÌNH TÀU
            </h3></b
          >
          <ul class="custom-list">
            <li class="custom-row">
              <div class="custom-item">
                <input
                  style="
                    max-width: 5rem !important;
                    border: 2px solid rgb(0, 157, 255);
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
                  "
                  data-index="1"
                  type="text"
                  maxlength="5"
                  class="text"
                  id="text1" />
                <span id="port1" fill="black" class="square-frame">...</span>
                <input type="text" class="BackColor" id="BackColor1" hidden />
                <input type="text" class="ForeColor" id="ForeColor1" hidden />
              </div>
              <div class="custom-item">
                <input
                  style="
                    max-width: 5rem !important;
                    margin-left: 25px;
                    border: 2px solid rgb(0, 157, 255);
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
                  "
                  data-index="2"
                  type="text"
                  maxlength="5"
                  class="text"
                  id="text2" />
                <text id="port2" fill="black" class="square-frame">...</text>
                <input type="text" class="BackColor" id="BackColor2" hidden />
                <input type="text" class="ForeColor" id="ForeColor2" hidden />
              </div>
              <div class="custom-item">
                <input
                  style="
                    max-width: 5rem !important;
                    margin-left: 25px;
                    border: 2px solid rgb(0, 157, 255);
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
                  "
                  data-index="3"
                  type="text"
                  maxlength="5"
                  class="text"
                  id="text3" />
                <text id="port3" fill="black" class="square-frame">...</text>
                <input type="text" class="BackColor" id="BackColor3" hidden />
                <input type="text" class="ForeColor" id="ForeColor3" hidden />
              </div>
              <div class="custom-item">
                <input
                  style="
                    max-width: 5rem !important;
                    margin-left: 25px;
                    border: 2px solid rgb(0, 157, 255);
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
                  "
                  data-index="4"
                  type="text"
                  maxlength="5"
                  class="text"
                  id="text4" />
                <text id="port4" fill="black" class="square-frame">...</text>
                <input type="text" class="BackColor" id="BackColor4" hidden />
                <input type="text" class="ForeColor" id="ForeColor4" hidden />
              </div>
              <div class="custom-item">
                <input
                  style="
                    max-width: 5rem !important;
                    margin-left: 25px;
                    border: 2px solid rgb(0, 157, 255);
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
                  "
                  data-index="5"
                  type="text"
                  maxlength="5"
                  class="text"
                  id="text5" />
                <text id="port5" fill="black" class="square-frame">...</text>
                <input type="text" class="BackColor" id="BackColor5" hidden />
                <input type="text" class="ForeColor" id="ForeColor5" hidden />
              </div>
              <div class="custom-item">
                <input
                  style="
                    max-width: 5rem !important;
                    margin-left: 25px;
                    border: 2px solid rgb(0, 157, 255);
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
                  "
                  data-index="6"
                  type="text"
                  maxlength="5"
                  class="text"
                  id="text6" />
                <text id="port6" fill="black" class="square-frame">...</text>
                <input type="text" class="BackColor" id="BackColor6" hidden />
                <input type="text" class="ForeColor" id="ForeColor6" hidden />
              </div>
            </li>
            <li class="custom-row">
              <div class="custom-item">
                <div
                  class="col-item"
                  style="height: 30px; font-size: 27px; text-align: center">
                  <i class="ti-pin ti1"></i>
                </div>
              </div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
            </li>
            <li class="custom-row">
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
            </li>
            <li class="custom-row">
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
            </li>
            <li class="custom-row">
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
            </li>
            <li class="custom-row">
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
            </li>
            <li class="custom-row">
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
            </li>
            <li class="custom-row">
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
            </li>
            <li class="custom-row">
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
            </li>
            <li class="custom-row">
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
              <div class="custom-item"></div>
            </li>
          </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
          <b style="display: flex; justify-content: center">
            <h3 style="font-weight: 600 !important; text-align: center">
              DANH SÁCH CẢNG ĐÍCH
            </h3>
          </b>
          <div class="table-responsive" style="display: inline-table">
            <table
              id="tblFullPort"
              class="table table-striped display nowrap"
              cellspacing="0">
              <thead>
                <tr>
                  <th class="editor-cancel data-type-checkbox" col-name="Tick">
                    Chọn
                  </th>
                  <th col-name="NationID">Mã Quốc Gia</th>
                  <th col-name="PortID">Mã cảng</th>
                  <th col-name="PortName">Tên Cảng</th>
                </tr>
              </thead>
              <tbody>
                <% if(portList.length > 0) {i = 1; %> <% portList.map(item=> {
                %>
                <tr>
                  <td>
                    <label class="checkbox checkbox-success checkPort">
                      <input
                        id="<%= 'checkPort'+ item['PortID'] %>"
                        type="checkbox" />
                      <span class="input-span"></span>
                    </label>
                  </td>
                  <td>
                    <input
                      id="<%= 'LaneCode'+ item['PortID'] %>"
                      type="text"
                      hidden
                      value="<%= (item['NationID'])%>" /><%= (item['NationID'])
                    %>
                  </td>
                  <td>
                    <input
                      id="<%= 'PortID'+i %>"
                      type="text"
                      hidden
                      value="<%=item['PortID']%>" /><%=item['PortID']%>
                  </td>
                  <td>
                    <input
                      id="<%= 'PortName'+i %>"
                      type="text"
                      hidden
                      value="<%=item['PortName']%>" /><%=item['PortName']%>
                  </td>
                </tr>
                <% i++; }) %> <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div> -->
      <div class="row ibox-footer border-top-0">
         <div class="col-md-8 col-sm-8 col-8 input-group input-group-dm">
            <div class="col-sm-8 col-8" style="margin-left: 8px;">
               <b
                  style="
                  display: flex;
                  justify-content: center;
                  margin-left: 25%;
                  width: 100%;
                  ">
                  <h3 style="font-weight: 600 !important; text-align: center">
                     CHI TIẾT HÀNH TRÌNH TÀU
                  </h3>
               </b>
               <div
                  class="col-md-8 col-sm-8 col-8 input-group input-group-dm"
                  >
                  <!-- Thêm div cha để bao bọc cả 7 div -->
                  <div class="row" >
                     <div class=" col-sm-8 col-8">
                        <!-- Thêm 7 div dòng -->
                        <div
                           class="flex"
                           style="display: block; margin-bottom: 10px; padding: 5px">
                           <div class="row">
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 input-container"
                                 style="margin-right: 6rem">
                                 <input
                                    style="max-width: 7rem !important;
                                    border: 2px solid rgb(0, 157, 255);
                                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"
                                    data-index="1"
                                    type="text"
                                    maxlength="5"
                                    class="text"
                                    id="text1"  />
                                 <text id="port1" fill="black" class="square-frame"
                                    >...</text
                                    >
                                 <input type="text" class="BackColor" id="BackColor1" hidden>
                                 <input type="text" class="ForeColor" id="ForeColor1" hidden>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 input-container"
                                 style="height: 100%; margin-right: 6rem">
                                 <input
                                    style="max-width: 7rem !important;
                                    border: 2px solid rgb(0, 157, 255);
                                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"
                                    data-index="2"
                                    type="text"
                                    maxlength="5"
                                    class="text"
                                    id="text2"  />
                                 <text id="port2" fill="black"  class="square-frame"
                                    >...</text
                                    >
                                 <input type="text" class="BackColor" id="BackColor2" hidden>
                                 <input type="text" class="ForeColor" id="ForeColor2" hidden>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 input-container"
                                 style="height: 100%; margin-right: 6rem">
                                 <input
                                    style="max-width: 7rem !important;
                                    border: 2px solid rgb(0, 157, 255);
                                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"
                                    data-index="3"
                                    type="text"
                                    maxlength="5"
                                    class="text"
                                    id="text3"  />
                                 <text id="port3" fill="black"  class="square-frame"
                                    >...</text
                                    >
                                 <input type="text" class="BackColor" id="BackColor3" hidden>
                                 <input type="text" class="ForeColor" id="ForeColor3" hidden>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 input-container"
                                 style="height: 100%; margin-right: 6rem">
                                 <input
                                    style="max-width: 7rem !important;
                                    border: 2px solid rgb(0, 157, 255);
                                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"
                                    data-index="4"
                                    type="text"
                                    maxlength="5"
                                    class="text"
                                    id="text4"  />
                                 <text id="port4" fill="black"  class="square-frame"
                                    >...</text
                                    >
                                 <input type="text" class="BackColor" id="BackColor4" hidden>
                                 <input type="text" class="ForeColor" id="ForeColor4" hidden>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 input-container"
                                 style="height: 100%; margin-right: 6rem">
                                 <input
                                    style="max-width: 7rem !important;
                                    border: 2px solid rgb(0, 157, 255);
                                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"
                                    data-index="5"
                                    type="text"
                                    maxlength="5"
                                    class="text"
                                    id="text5"  />
                                 <text id="port5" fill="black"  class="square-frame"
                                    >...</text
                                    >
                                 <input type="text" class="BackColor" id="BackColor5" hidden>
                                 <input type="text" class="ForeColor" id="ForeColor5" hidden>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 input-container"
                                 style="height: 100%">
                                 <input
                                    style="max-width: 7rem !important;
                                    border: 2px solid rgb(0, 157, 255);
                                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"
                                    data-index="6"
                                    type="text"
                                    maxlength="5"
                                    class="text"
                                    id="text6"  />
                                 <text id="port6" fill="black"  class="square-frame"
                                    >...</text
                                    >
                                 <input type="text" class="BackColor" id="BackColor6" hidden>
                                 <input type="text" class="ForeColor" id="ForeColor6" hidden>
                              </div>
                           </div>
                        </div>
                        <div
                           class="flex"
                           style="display: block; margin-bottom: 10px; padding: 5px">
                           <div class="row">
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 col-item"
                                 style="
                                 height: 30px;
                                 font-size: 27px;
                                 text-align: center;
                                 ">
                                 <i class="ti-pin ti1"></i>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 col-item"
                                 style="
                                 height: 30px;
                                 font-size: 27px;
                                 text-align: center;
                                 ">
                                 <i class="ti-location-pin ti1"></i>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 col-item"
                                 style="
                                 height: 30px;
                                 font-size: 27px;
                                 text-align: center;
                                 ">
                                 <i class="ti-location-pin ti1"></i>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 col-item"
                                 style="
                                 height: 30px;
                                 font-size: 27px;
                                 text-align: center;
                                 ">
                                 <i class="ti-location-pin ti1"></i>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 col-item"
                                 style="
                                 height: 30px;
                                 font-size: 27px;
                                 text-align: center;
                                 ">
                                 <i class="ti-location-pin ti1"></i>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 "
                                 style="
                                 height: 30px;
                                 font-size: 27px;
                                 text-align: center;
                                 ">
                                 <i class="ti-location-pin ti1"></i>
                              </div>
                           </div>
                        </div>
                        <div
                           class="flex"
                           style="display: block; margin-bottom: 10px; padding: 5px">
                           <div class="row">
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 square-frame-line3"
                                 style="margin-right: 6rem">
                                 <span class="square-line3" id="chooseColor1"></span>
                                 <text class="ilinespan ShortPort" id="ShortPort1" ></text>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 square-frame-line3"
                                 style="margin-right: 6rem">
                                 <span class="square-line3" id="chooseColor2"></span>
                                 <text class="ilinespan ShortPort" id="ShortPort2" ></text>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 square-frame-line3"
                                 style="margin-right: 6rem">
                                 <span class="square-line3" id="chooseColor3"></span>
                                 <text class="ilinespan ShortPort" id="ShortPort3" ></text>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 square-frame-line3"
                                 style="margin-right: 6rem">
                                 <span class="square-line3" id="chooseColor4"></span>
                                 <text class="ilinespan ShortPort" id="ShortPort4" ></text>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 square-frame-line3"
                                 style="margin-right: 6rem">
                                 <span class="square-line3" id="chooseColor5"></span>
                                 <text class="ilinespan ShortPort" id="ShortPort5" ></text>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 line-down"
                                 style="height: 100%;">
                                 <span class="square-line3" id="chooseColor6"></span>
                                 <text class="ilinespan ShortPort" id="ShortPort6" ></text>
                              </div>
                           </div>
                        </div>
                        <div
                           class="flex"
                           style="
                           display: block;
                           margin-bottom: 10px;
                           padding: 5px;
                           ">
                           <image
                              id="vesselModel"
                              src="/assets/img/vessel_images/v1.png"
                              x="400"
                              y="200"
                              height="30"
                              width="60" />
                           <div class="row">
                              <div class="col-lg-1 col-md-1 col-sm-1 col-item2"><i class="ti-angle-double-right ti3"></i>
                              </div>
                              <div class="col-lg-1 col-md-1 col-sm-1 col-item2"><i class="ti-angle-double-right ti3"></i>
                              </div>
                              <div class="col-lg-1 col-md-1 col-sm-1 col-item2"><i class="ti-angle-double-right ti3"></i>
                              </div>
                              <div class="col-lg-1 col-md-1 col-sm-1 col-item2"><i class="ti-angle-double-right ti3"></i>
                              </div>
                              <div class="col-lg-1 col-md-1 col-sm-1 col-item2short">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 line-down2">
                              </div>
                           </div>
                        </div>
                        <div
                           class="flex">
                           <div class="row">
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                                 <!-- <i class="ti-angle-double-down ti6"></i> -->
                              </div>
                           </div>
                        </div>
                        <div
                           class="flex">
                           <div class="row">
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div style="max-width: 500px !important;    position: absolute;
                                 left: 120px;"
                                 class="col-lg-1 col-md-1 col-sm-1">
                                 <label style="width: 100px">Mã hành trình:</label>
                                 <input style="position: absolute;border: 2px solid rgb(0, 157, 255);
                                    left: 100px;
                                    border-radius: 5px;
                                    bottom: 5px;" id="LaneID" type="text" />
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div style="max-width: 500px !important;position: absolute;
                                 left: 450px;"
                                 class="col-lg-1 col-md-1 col-sm-1">
                                 <label style="width: 100px">Tên hành trình:</label>
                                 <input style="position: absolute; border: 2px solid rgb(0, 157, 255);
                                    left: 100px;
                                    border-radius: 5px;
                                    bottom: 5px;" id="LaneName" type="text" />
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                           </div>
                        </div>
                        <div
                           class="flex">
                           <div class="row">
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                                 <!-- <i class="ti-angle-double-down ti5"></i> -->
                              </div>
                           </div>
                        </div>
                        <div
                           class="flex"
                           style="
                           display: block;
                           margin-bottom: 10px;
                           padding: 5px;
                           ">
                           <div class="row">
                              <div class="col-lg-1 col-md-1 col-sm-1 col-item3"><i class="ti-angle-double-left ti4"></i>
                              </div>
                              <div class="col-lg-1 col-md-1 col-sm-1 col-item3"><i class="ti-angle-double-left ti4"></i>
                              </div>
                              <div class="col-lg-1 col-md-1 col-sm-1 col-item3"><i class="ti-angle-double-left ti4"></i>
                              </div>
                              <div class="col-lg-1 col-md-1 col-sm-1 col-item3"><i class="ti-angle-double-left ti4"></i>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 col-item3short"
                                 >
                              </div>
                           </div>
                        </div>
                        <div
                           class="flex">
                           <div class="row">
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1">
                                 <!-- <i class="ti-angle-double-down ti5"></i> -->
                              </div>
                           </div>
                        </div>
                        <div
                           class="flex"
                           style="display: block; margin-bottom: 10px;">
                           <div class="row">
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 square-frame-line8"
                                 style="margin-right: 6rem">
                                 <span class="square-line8" id="chooseColor12"></span>
                                 <text class="ilinespan8 ShortPort" id="ShortPort12" ></text>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 square-frame-line8"
                                 style="margin-right: 6rem">
                                 <span class="square-line8" id="chooseColor11"></span>
                                 <text class="ilinespan8 ShortPort" id="ShortPort11" ></text>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 square-frame-line8"
                                 style="margin-right: 6rem">
                                 <span class="square-line8" id="chooseColor10"></span>
                                 <text class="ilinespan8 ShortPort" id="ShortPort10" ></text>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 square-frame-line8"
                                 style="margin-right: 6rem">
                                 <span class="square-line8" id="chooseColor9"></span>
                                 <text class="ilinespan8 ShortPort" id="ShortPort9" ></text>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 square-frame-line8"
                                 style="margin-right: 6rem">
                                 <span class="square-line8"id="chooseColor8"></span>
                                 <text class="ilinespan8 ShortPort" id="ShortPort8" ></text>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1"
                                 style="height: 100%;">
                                 <span class="square-line8" id="chooseColor7"></span>
                                 <text class="ilinespan8 ShortPort" id="ShortPort7" ></text>
                              </div>
                           </div>
                        </div>
                        <div class="flex">
                           <div class="row">
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 col-item4"
                                 style="
                                 height: 30px;
                                 font-size: 27px;
                                 text-align: center;
                                 ">
                                 <i class="ti-map-alt ti2"></i>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 col-item4"
                                 style="
                                 height: 30px;
                                 font-size: 27px;
                                 text-align: center;
                                 ">
                                 <i class="ti-location-pin ti2"></i>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 col-item4"
                                 style="
                                 height: 30px;
                                 font-size: 27px;
                                 text-align: center;
                                 ">
                                 <i class="ti-location-pin ti2"></i>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 col-item4"
                                 style="
                                 height: 30px;
                                 font-size: 27px;
                                 text-align: center;
                                 ">
                                 <i class="ti-location-pin ti2"></i>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 col-item4"
                                 style="
                                 height: 30px;
                                 font-size: 27px;
                                 text-align: center;
                                 ">
                                 <i class="ti-location-pin ti2"></i>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1"
                                 style="
                                 font-size: 27px;
                                 height: 30px;
                                 text-align: center;
                                 ">
                                 <i class="ti-location-pin ti2"></i>
                              </div>
                           </div>
                        </div>
                        <div
                           class="flex"
                           style="display: block; margin-bottom: 10px; padding: 5px">
                           <div class="row">
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 input-container"
                                 style="margin-right: 6rem">
                                 <input
                                    style="max-width: 7rem !important;
                                    border: 2px solid rgb(0, 157, 255);
                                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"
                                    data-index="12"
                                    type="text"
                                    maxlength="5"
                                    class="text"
                                    id="text12" />
                                 <text id="port12" fill="black" class="square-frame"
                                    >...</text
                                    >
                                 <input type="text" class="BackColor" id="BackColor12" hidden>
                                 <input type="text" class="ForeColor" id="ForeColor12" hidden>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 input-container"
                                 style="height: 100%; margin-right: 6rem">
                                 <input
                                    style="max-width: 7rem !important;
                                    border: 2px solid rgb(0, 157, 255);
                                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"
                                    data-index="11"
                                    type="text"
                                    maxlength="5"
                                    class="text"
                                    id="text11" />
                                 <text id="port11" fill="black" class="square-frame"
                                    >...</text
                                    >
                                 <input type="text" class="BackColor" id="BackColor11" hidden>
                                 <input type="text" class="ForeColor" id="ForeColor11" hidden>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 input-container"
                                 style="height: 100%; margin-right: 6rem">
                                 <input
                                    style="max-width: 7rem !important;
                                    border: 2px solid rgb(0, 157, 255);
                                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"
                                    data-index="10"
                                    type="text"
                                    maxlength="5"
                                    class="text"
                                    id="text10" />
                                 <text id="port10" fill="black" class="square-frame"
                                    >...</text
                                    >
                                 <input type="text" class="BackColor" id="BackColor10" hidden>
                                 <input type="text" class="ForeColor" id="ForeColor10" hidden>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 input-container"
                                 style="height: 100%; margin-right: 6rem">
                                 <input
                                    style="max-width: 7rem !important;
                                    border: 2px solid rgb(0, 157, 255);
                                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"
                                    data-index="9"
                                    type="text"
                                    maxlength="5"
                                    class="text"
                                    id="text9" />
                                 <text id="port9" fill="black" class="square-frame"
                                    >...</text
                                    >
                                 <input type="text" class="BackColor" id="BackColor9" hidden>
                                 <input type="text" class="ForeColor" id="ForeColor9" hidden>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 input-container"
                                 style="height: 100%; margin-right: 6rem">
                                 <input
                                    style="max-width: 7rem !important;
                                    border: 2px solid rgb(0, 157, 255);
                                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"
                                    data-index="8"
                                    type="text"
                                    maxlength="5"
                                    class="text"
                                    id="text8" />
                                 <text id="port8" fill="black" class="square-frame"
                                    >...</text
                                    >
                                 <input type="text" class="BackColor" id="BackColor8" hidden>
                                 <input type="text" class="ForeColor" id="ForeColor8" hidden>
                              </div>
                              <div
                                 class="col-lg-1 col-md-1 col-sm-1 input-container"
                                 style="height: 100%">
                                 <input
                                    style="max-width: 7rem !important;
                                    border: 2px solid rgb(0, 157, 255);
                                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);"
                                    data-index="7"
                                    type="text"
                                    maxlength="5"
                                    class="text"
                                    id="text7" />
                                 <text id="port7" fill="black" class="square-frame"
                                    >...</text
                                    >
                                 <input type="text" class="BackColor" id="BackColor7" hidden>
                                 <input type="text" class="ForeColor" id="ForeColor7" hidden>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-sm-4 col-4 input-group input-group-dm"style="
         left: 40px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
               <b
                  
                  >
                  <h3 style="font-weight: 600 !important; text-align: center">
                     DANH SÁCH CẢNG ĐÍCH
                  </h3>
               </b
                  >
               <div class="col-lg-12 col-md-12 col-sm-12 "
                  style="padding: 10px; width: 100%">
                  <table id="tblFullPort"
                     style="width: 80%;">
                     <thead>
                        <tr>
                           <th class="editor-cancel data-type-checkbox" col-name="Tick">Chọn</th>
                           <th col-name="NationID">Mã QG</th>
                           <th col-name="PortID">Mã cảng</th>
                           <th col-name="PortName">Tên Cảng</th>
                        </tr>
                     </thead>
                     <tbody style="width: 350px !important;">
                        <% if(portList.length > 0) {i = 1; %>
                        <% portList.map(item=> {  %>
                        <tr>
                           <td>
                              <label class="checkbox checkbox-success checkPort"><input id="<%= 'checkPort'+ item['PortID'] %>" type="checkbox"><span class="input-span"></span></label>
                           </td>
                           <td><input id="<%= 'LaneCode'+ item['PortID'] %>" type="text" hidden value="<%= (item['NationID'])%>"><%= (item['NationID']) %></td>
                           <td><input id="<%= 'PortID'+i %>" type="text" hidden value="<%=item['PortID']%>"><%=item['PortID']%></td>
                           <td><input id="<%= 'PortName'+i %>"  type="text" hidden value="<%=item['PortName']%>"><%=item['PortName']%></td>
                        </tr>
                        <% i++; })  %>
                        <% } %>                                       
                     </tbody>
                  </table>
               </div>
            </div>
            </table>
         </div>
      </div>
   </div>
  </div>
</div>

<div
  class="modal fade"
  id="color-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="groups-modalLabel"
  aria-hidden="true"
  data-whatever="id"
  style="padding-left: 14%; top: 200px">
  <div
    class="modal-dialog"
    role="document"
    style="width: 400px !important; max-height: 400px">
    <div class="modal-content" style="border-radius: 4px; height: 300px">
      <div class="modal-body" style="margin: 0 auto">
        <fieldset class="col" style="margin-top: 30px">
          <label for="input1">Ký tự muốn hiển thị: </label>
          <select
            style="width: 100px; height: 40px; margin-left: 10px"
            name="select"
            id="select">
            <option>-- Chưa có dữ liệu ---</option>
          </select>
        </fieldset>
        <fieldset class="col" style="margin-top: 10px">
          <label for="excolor1">Màu nền: </label>
          <input
            type="color"
            class="BackColor"
            id="BackColor"
            name="excolor1"
            list="rainbow"
            value="#ffffff"
            style="margin-left: 10px; width: 160px; height: 40px " />
        </fieldset>
        <fieldset class="col" style="margin-top: 10px">
          <label for="excolor1">Màu chữ: </label>
          <input
            type="color"
            class="ForeColor"
            id="ForeColor"
            name="excolor1"
            list="rainbow"
            style="margin-left: 10px; width: 160px; height: 40px" />
        </fieldset>
        <datalist id="rainbow">
          <option value="#FFFFFF">White</option>
          <option value="#FF0000">Red</option>
          <option value="#FFA500">Orange</option>
          <option value="#FFFF00">Yellow</option>
          <option value="#008000">Green</option>
          <option value="#0000FF">Blue</option>
          <option value="#4B0082">Indigo</option>
          <option value="#EE82EE">Violet</option>
        </datalist>
      </div>
      <div class="modal-footer">
        <div style="margin: 0 auto !important">
          <button
            class="btn btn-sm btn-rounded btn-gradient-blue btn-labeled btn-labeled-left btn-icon"
            id="apply-color"
            data-dismiss="modal">
            <span class="btn-label"><i class="ti-check"></i></span>Xác nhận
          </button>
          <button
            class="btn btn-sm btn-rounded btn-gradient-peach btn-labeled btn-labeled-left btn-icon"
            data-dismiss="modal">
            <span class="btn-label"><i class="ti-close"></i></span>Đóng
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="port-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="groups-modalLabel"
  aria-hidden="true"
  data-whatever="id"
  style="padding-left: 14%">
  <div
    class="modal-dialog"
    role="document"
    style="min-width: 1024px !important">
    <div class="modal-content" style="border-radius: 4px">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="groups-modalLabel">
          Danh mục cảng
        </h5>
      </div>
      <div class="modal-body">
        <table
          id="tblPort"
          class="table table-striped display nowrap"
          cellspacing="0"
          style="width: 99.5%">
          <thead>
            <tr style="width: 100%">
              <th col-name="STT">STT</th>
              <th col-name="LaneCode">Mã liên hiệp</th>
              <th col-name="NationID">Mã quốc gia</th>
              <th col-name="NationName">Tên quốc gia</th>
              <th col-name="PortID">Mã cảng</th>
              <th col-name="PortName">Tên cảng</th>
            </tr>
          </thead>
          <tbody>
            <% if(portList.length > 0) {i = 1; %> <% portList.map(item=>{ %>
            <tr>
              <td><%=i%></td>
              <td><%=(item['NationID']+item['PortID'])%></td>
              <td><%=item['NationID']%></td>
              <td><%=item['NationName']%></td>
              <td><%=item['PortID']%></td>
              <td><%=item['PortName']%></td>
            </tr>
            <% i++; }) %> <% } %>
            <!---->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <div style="margin: 0 auto !important">
          <button
            class="btn btn-sm btn-rounded btn-gradient-blue btn-labeled btn-labeled-left btn-icon"
            id="apply-port"
            data-dismiss="modal">
            <span class="btn-label"><i class="ti-check"></i></span>Xác nhận
          </button>
          <button
            class="btn btn-sm btn-rounded btn-gradient-peach btn-labeled btn-labeled-left btn-icon"
            data-dismiss="modal">
            <span class="btn-label"><i class="ti-close"></i></span>Đóng
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
      var tbl1 			= $('#tblOpr'),
        tblPort 		= $('#tblPort'),
               tblFullPort     = $("#tblFullPort"),
        _columns1		= ["Tick", "STT", "OprID", "OprName"],
        _portColumns	= ["STT", "LaneCode", "NationID", "NationName", "PortID", "PortName"],
               _fullPortColumns= ["Tick", "NationID", "PortID", "PortName"];
        oprList			= {},
        portList		= {},
               portModal       = $('#port-modal'),
        colorModal 		= $('#color-modal'),
               maxIndex        = 0,
               delList         = [];

      var x = tbl1.newDataTable({
        scrollY: '30vh',
        columnDefs: [
          { type: "num", className: "text-center", targets: _columns1.indexOf('STT')},
          { className: "text-center", targets: _columns1.getIndexs(["Tick", "OprID", "OprName"])},
        ],
        order: [[ _columns1.indexOf('STT'), 'asc' ]],
        paging: false,
               keys: true,
               autoFill: {
                   focus: 'focus'
               },
               select: {
                 style: "single",
                 info: false,
               },
               rowReorder: false,
               buttons: [], // hide select all
               info: false, // hide rows count
               arrayColumns: _columns1
      });

      var y = tblPort.newDataTable({
        scrollY: '30vh',
        columnDefs: [
          { type: "num", className: "text-center", width: "5px", targets: _portColumns.indexOf('STT')},
          { className: "text-center", width: "5px", targets: _portColumns.getIndexs(["LaneCode", "NationID", "NationName", "PortID", "PortName"])},
        ],
        order: [[ _portColumns.indexOf('STT'), 'asc' ]],
        paging: false,
               keys: true,
               autoFill: {
                   focus: 'focus'
               },
               select: {
                 style: "single",
                 info: false,
               },
               rowReorder: false,
               buttons: [], // hide select all
               searching: false, // hide search box
               arrayColumns: _portColumns,
      });

           var z = tblFullPort.newDataTable({
               scrollY: '20vh',
               columnDefs: [
                   { className: "text-center", targets: _fullPortColumns.getIndexs(["Tick", "LaneCode", "PortID", "NationID"])},
               ],
               order: [[ _fullPortColumns.indexOf('NationID'), 'asc' ]],
               paging: false,
               keys: true,
               autoFill: {
                   focus: 'focus'
               },
               select: {
                   style: "single",
                   info: false,
               },
               rowReorder: false,
               buttons: [], // hide select all
               info: false, // hide rows count
               arrayColumns: _fullPortColumns,
           });


           laneList = <%- JSON.stringify(laneList||[])%>;

           oprList = <%- JSON.stringify(oprList||[])%>;

           portList = <%- JSON.stringify(portList||[])%>;

           $("#port1, #port2, #port3, #port4, #port5, #port6, #port7, #port8, #port9, #port10, #port11, #port12").on('click', function(){
            let checktrue=[]
              for(let i=1;i<13;i++){
                // console.log('$ nè:',$(`#text${i}`).val());
                checktrue.push($(`#text${i}`).val())
              }

               var rows = [];
               if(portList.length > 0) {
                  var rows = [], index = 1;;
                  for (i = 0; i < portList.length; i++) {
                      var id = "#checkPort" + portList[i]['PortID'];
                      if ($(id).prop('checked')){
                          var r = [];
                          $.each(_portColumns, function(idx, colname){
                              var val = "";
                              switch(colname){
                                  case "STT":
                                      val = index;
                                      index++;
                                      break;
                                  case "LaneCode":
                                      var LaneCode = (portList[i]['NationID'] + portList[i]['PortID']);
                                      val = LaneCode;
                                      break;
                                  default:
                                      val = portList[i][colname];
                                      break;
                              }
                              r.push(val);
                          });
                          rows.push(r);
                      }
                   }
                  //  console.log('bảng nè:',rows);
                  //  console.log('theem',checktrue);
                   tblPort.dataTable().fnClearTable();
                   if(rows.length > 0){
                    let test = rows.filter((item)=>{
                      // console.log(item[1],checktrue.indexOf(item[1]));
                      if(checktrue.indexOf(item[1])===-1)
                      return true;
                      else
                      return false;
                    });
                    // Cập nhật lại giá trị STT
              index = 1;
              test.forEach((item) => {
                  item[0] = index;
                  index++;
              });
                       tblPort.dataTable().fnAddData(test);
                   }
               }
           });


      // Port on Click
           var index = 0;
      $("#port1, #port2, #port3, #port4, #port5, #port6, #port7, #port8, #port9, #port10, #port11, #port12").click(function(event){
          portModal.modal("show");
               index = event.target.id.slice(4,event.target.id.length);
      });

      //tblPort.find("tbody tr").on("dblclick", function(){ // Double Click
           $(document).on("dblclick", "#tblPort tbody tr",  function(){
               var portID      = tblPort.getSelectedRows().data().toArray()[0][_portColumns.indexOf("PortID")],
              laneCode    = tblPort.getSelectedRows().data().toArray()[0][_portColumns.indexOf("LaneCode")],
                   shortPort   = portID.slice(0,1);
              //      shortPort2   = portID.slice(1,2);
              //      shortPort3    =portID.slice(2,3);

              //      var selectOptions = "<option value='" + shortPort + "'>" + shortPort + "</option>";
              // selectOptions += "<option value='" + shortPort2 + "'>" + shortPort2 + "</option>";
              // selectOptions += "<option value='" + shortPort3 + "'>" + shortPort3 + "</option>";

              // $("#select").html(selectOptions);

               id = "#text" + index;
        $(id).val(laneCode);
               $(id).css({"border-color": "",
                          "boxorder-width":"",
                          "border-style":""});

               id = "#ShortPort" + index;
               $(id).text(shortPort);

               if (maxIndex < parseInt(index)){
                   maxIndex = parseInt(index);
               }

        portModal.modal("hide");
      });

           $('#port-modal').on('shown.bs.modal', function(e){
               $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
           });

      $("#apply-port").on("click", function(){	// Click Accept
               var portID      = tblPort.getSelectedRows().data().toArray()[0][_portColumns.indexOf("PortID")],
                   laneCode    = tblPort.getSelectedRows().data().toArray()[0][_portColumns.indexOf("LaneCode")],
          shortPort   = portID.slice(0,1);
        //   shortPort2   = portID.slice(1,2);
        //   shortPort3    =portID.slice(2,3);

        //   var selectOptions = "<option value='" + shortPort + "'>" + shortPort + "</option>";
        //       selectOptions += "<option value='" + shortPort2 + "'>" + shortPort2 + "</option>";
        //       selectOptions += "<option value='" + shortPort3 + "'>" + shortPort3 + "</option>";

  //   $("#select").html(selectOptions);
               id = "#text" + index;
               $(id).val(laneCode);
               $(id).css({"border-color": "",
                          "boxorder-width":"",
                          "border-style":""});
               $(id).trigger("input");


               id = "#ShortPort" + index;
               $(id).text(shortPort);

               if (maxIndex < parseInt(index)){
                   maxIndex = parseInt(index);
               }
      });


     //       var colorIndex;
     //  $("#chooseColor1, #chooseColor2, #chooseColor3, #chooseColor4, #chooseColor5, #chooseColor6, #chooseColor7, #chooseColor8, #chooseColor9, #chooseColor10, #chooseColor11, #chooseColor12, #ShortPort1, #ShortPort2, #ShortPort3, #ShortPort4, #ShortPort5, #ShortPort6, #ShortPort7, #ShortPort8, #ShortPort9, #ShortPort10, #ShortPort11, #ShortPort12").on('click', function(){
     //    colorModal.modal("show");
     //           if (event.target.id.slice(0,1) == 'c')
     //               colorIndex = event.target.id.slice(11,event.target.id.length)
     //           else
     //               colorIndex = event.target.id.slice(9,event.target.id.length)
     //  });

     //       $("#apply-color").on("click", function(){    // Click Accept
     //           var BackColor = $("#BackColor").val().slice(1, this.length),
     //               ForeColor = $("#ForeColor").val().slice(1, this.length);
     //               selectedValue = $("#select").val();

     //           id = "#text" + colorIndex;
     //           $(id).css("background-color", "#" + BackColor);
     //           $(id).css("color", "#" + ForeColor);

     //           id = "#BackColor" + colorIndex;
     //           $(id).val(BackColor);

     //           id = "#ForeColor" + colorIndex;
     //           $(id).val(ForeColor);

     //          shortPortId = "#ShortPort" + textIndex;
     //          $(shortPortId).text(selectedValue);
     //       });

     // var colorIndex;
  // $("#chooseColor1, #chooseColor2, #chooseColor3, #chooseColor4, #chooseColor5, #chooseColor6, #chooseColor7, #chooseColor8, #chooseColor9, #chooseColor10, #chooseColor11, #chooseColor12, #ShortPort1, #ShortPort2, #ShortPort3, #ShortPort4, #ShortPort5, #ShortPort6, #ShortPort7, #ShortPort8, #ShortPort9, #ShortPort10, #ShortPort11, #ShortPort12").on('click', function(){
  //   colorModal.modal("show");
  //   if (event.target.id.slice(0,1) == 'c')
  //     colorIndex = event.target.id.slice(11,event.target.id.length);
  //   else
  //     colorIndex = event.target.id.slice(9,event.target.id.length);

  //   // Lấy chỉ số từ id
  //   var index = parseInt(colorIndex);

  //   // Lấy 3 ký tự cuối của input text tương ứng
  //   var textValue = $("#text" + index).val();
  //   var options = [];

  //   // Tạo các option từ 3 ký tự cuối
  //   for (var i = 0; i < textValue.length; i += 3) {
  //     options.push('<option>' + textValue.slice(i, i + 3) + '</option>');
  //   }

  //   // Gán các option vào select
  //   $("#select").html(options.join(''));
  // });

  // $("#apply-color").on("click", function(){    // Click Accept
  //   var BackColor = $("#BackColor").val().slice(1, this.length),
  //     ForeColor = $("#ForeColor").val().slice(1, this.length),
  //     selectedValue = $("#select").val();

  //   id = "#text" + colorIndex;
  //   $(id).css("background-color", "#" + BackColor);
  //   $(id).css("color", "#" + ForeColor);

  //   id = "#BackColor" + colorIndex;
  //   $(id).val(BackColor);

  //   id = "#ForeColor" + colorIndex;
  //   $(id).val(ForeColor);

  //   shortPortId = "#ShortPort" + colorIndex;
  //   $(shortPortId).text(selectedValue);
  // });

  var colorIndex;
  $("#chooseColor1, #chooseColor2, #chooseColor3, #chooseColor4, #chooseColor5, #chooseColor6, #chooseColor7, #chooseColor8, #chooseColor9, #chooseColor10, #chooseColor11, #chooseColor12, #ShortPort1, #ShortPort2, #ShortPort3, #ShortPort4, #ShortPort5, #ShortPort6, #ShortPort7, #ShortPort8, #ShortPort9, #ShortPort10, #ShortPort11, #ShortPort12").on('click', function(){
    colorModal.modal("show");
    if (event.target.id.slice(0,1) == 'c')
      colorIndex = event.target.id.slice(11,event.target.id.length);
    else
      colorIndex = event.target.id.slice(9,event.target.id.length);

    // Lấy chỉ số từ id
    var index = parseInt(colorIndex);

    // Lấy 3 ký tự cuối của input text tương ứng
    var textValue = $("#text" + index).val();
    var options = [];

    // Tạo các option từ 3 ký tự cuối
    for (var i = textValue.length - 3; i < textValue.length; i++) {
      options.push('<option>' + textValue.charAt(i) + '</option>');
    }

    // Gán các option vào select
    $("#select").html(options.join(''));
  });

  $("#apply-color").on("click", function(){    // Click Accept
    var BackColor = $("#BackColor").val().slice(1, this.length),
      ForeColor = $("#ForeColor").val().slice(1, this.length),
      selectedValue = $("#select").val();

    id = "#text" + colorIndex;
    $(id).css("background-color", "#" + BackColor);
    $(id).css("color", "#" + ForeColor);

    id = "#BackColor" + colorIndex;
    $(id).val(BackColor);

    id = "#ForeColor" + colorIndex;
    $(id).val(ForeColor);

    shortPortId = "#ShortPort" + colorIndex;
    $(shortPortId).text(selectedValue);
  });



           $("#text1, #text2, #text3, #text4, #text5, #text6, #text7, #text8, #text9, #text10, #text11, #text12").on('blur', function(){
               if (this.value != ''){
                   textIndex = event.target.id.slice(4,event.target.id.length);
                   id = "#ShortPort" + textIndex;

                   text = (this.value == '' ? '' : this.value);
                   check = false;

                   $.each(portList, function(key, value){
                       var compareString = value['NationID'] + value['PortID'];
                       if (compareString == text){
                           $(id).text(value['PortID'].slice(0,1));
                           check = true;

                           if (maxIndex < parseInt(textIndex)){
                               maxIndex = parseInt(textIndex);
                           }

                           return false;
                       }
                   });

                   if (!check){
                       toastr['error']("Vui lòng nhập Mã tàu hợp lệ");
                       $(id).text("");
                       $(this).css({"border-color": "red",
                                    "boxorder-width":"2px",
                                    "border-style":"solid"});
                   }
                   else{
                       $(this).css({"border-color": "",
                                    "boxorder-width":"",
                                    "border-style":""});
                   }
               }
               else{
                   /*
                   textIndex = event.target.id.slice(4,event.target.id.length);
                   id = "#ShortPort" + textIndex;
                   if ($(id).text() != ''){
                       delList.push(textIndex);

                   }
                   */
               }
           });
           $("#text1, #text2, #text3, #text4, #text5, #text6, #text7, #text8, #text9, #text10, #text11, #text12").on('input', function(){
               if (this.value != ''){
                   textIndex = $(this).attr('id').slice(4,$(this).attr('id').length);
                   for (let ii = 1; ii <= textIndex; ii++) {
                       let id = "#text" + ii;
                      //  console.log(id);
                       if($(id).val()==''){
                           $(id).css({"background":"red","color":"red","border-color": "red",
                                    "boxorder-width":"2px",
                                    "border-style":"solid"});
                       }
                       else
                       if((textIndex+'')==(ii+''))
                       {
                          //  console.log((textIndex+''),(ii+''));
                           let BackColor   = ($("#BackColor" + ii).val() == '' ? 'ffffff' : $("#BackColor" + ii).val());
                           let ForeColor   = ($("#ForeColor" + ii).val() == '' ? '000000' : $("#ForeColor" + ii).val());
                           $(id).css({"background":'#'+BackColor,"color":'#'+ForeColor,"border-color": "",
                                    "boxorder-width":"",
                                    "border-style":""});
                       }
                   }

               }
           });
           // Save button event
           var input_type = 'add';
           $('#save').on('click', function(){
               var LaneID      = ($("#LaneID").val() == '' ? '' : $("#LaneID").val()),
                   LaneName    = ($("#LaneName").val() == '' ? '' : $("#LaneName").val());

               if (LaneID == ""){
                   toastr['error']("Vui lòng nhập Mã hành trình!");
                   return;
               }

               if (LaneName == ""){
                   toastr['error']("Vui lòng nhập Tên cho Mã hành trình " + LaneID);
                   return;
               }


               /* Collect lane code delete list */
               delList = [];
               for (i = 1; i <= maxIndex; i++){
                   idText  = "#text" + i;
                   idSP    = "#ShortPort" + i;
                   if ($(idText).val() == ''  && $(idSP).text() != ''){
                       delList.push(i);
                   }
               }

               // Get Opr Save List and del
               let oprList = ['SOC'];
               let portList = [];
               $('.checkOpr input:checked').each(function(){
                   oprList.push($(this).attr('id').split('checkOpr')[1]);
               })

               if (oprList.length == 0){
                   toastr['error']("Vui lòng chọn ít nhất một hãng khai thác !");
                   return;
               }

               $('.checkPort input:checked').each(function(){
                   portList.push($(this).attr('id').split('checkPort')[1]);
               })

               if (portList.length == 0){
                   toastr['error']("Vui lòng chọn ít nhất một cảng đích !");
                   return;
               }

               let lane = {
                       'LaneID':     LaneID,
                       'LaneName':   LaneName,
                       'OprList':      oprList.join(','),
                       'PortList':      portList.join(','),
                   };

              //  var laneDetailList = [];
              //  ldIndexs = 0;
              //  let showMsg=false;
              //  $('input[class="text"]').each(function(){
              //      let idx= parseInt($(this).attr('id').split('text')[1]);
              //      //console.log('idx nè:',idx);
              //      //console.log('nghiệt đồ:',ldIndexs);
              //      console.log('???',idx,ldIndexs);
              //      if($(this).val()){
              //          //console.log('???: ',(idx-1),ldIndexs);
              //          if((idx-1)!=ldIndexs)
              //          return showMsg=true;
              //          id          = "#text" + idx;
              //      PortID      = $(id).val().slice(2,5);
              //      console.log('PortID',PortID,idx,ldIndexs);

              //      id          = "#ShortPort" + idx;
              //      ShortPort   = $(id).text();

              //      id          = "#BackColor" + idx;
              //      BackColor   = ($(id).val() == '' ? 'ffffff' : $(id).val());

              //      id          = "#ForeColor" + idx;
              //      ForeColor   = ($(id).val() == '' ? '000000' : $(id).val());

              //      if (PortID != ''){
              //          laneDetailList[ldIndexs] = {
              //              'LaneID':       LaneID,
              //              'PortID':       PortID,
              //              'ShortPort':    ShortPort,
              //              'PortSeq':      ldIndexs + 1,
              //              'BackColor':    BackColor,
              //              'ForeColor':    ForeColor,
              //          };
              //         ldIndexs++;
              //      }
              //      }
              //  })

              var laneDetailList = [];
    var showMsg = false;
    for (var i = 1; i <= maxIndex; i++) {
      var index = i.toString();
      var idText = '[data-index="' + index + '"]';

      var value = $(idText).val();
      if (value) {
        if (i !== laneDetailList.length + 1)
          return showMsg = true;

        var id = "#text" + index;
        var PortID = $(id).val().slice(2, 5);

        id = "#ShortPort" + index;
        var ShortPort = $(id).text();

        id = "#BackColor" + index;
        var BackColor = ($(id).val() == '') ? 'ffffff' : $(id).val();

        id = "#ForeColor" + index;
        var ForeColor = ($(id).val() == '') ? '000000' : $(id).val();

        if (PortID !== '') {
          laneDetailList.push({
            'LaneID': LaneID,
            'PortID': PortID,
            'ShortPort': ShortPort,
            'PortSeq': i,
            'BackColor': BackColor,
            'ForeColor': ForeColor,
          });
        }
      }
    }

               if(showMsg){
                   toastr['error']('Vui lòng nhập đủ cảng đích đang thiếu !');
               }
               else{
                  //  console.log(laneDetailList);
                   lane.laneDetailList=laneDetailList;
                   saveLane(lane);
               }
           });

           function saveLane(lane){
               var fData = {
                       'data': lane,
                   };
               postSave(fData);
           }


           function postSave(fData){
               $.ajax({
                   url: "/Vessel/vsLane/save",
                   dataType: 'json',
                   data: fData,
                   type: 'POST',
                   success: function (data) {
                    // console.log(data.data);
                       if(data.data){
                           toastr["success"]('Lưu Thành công !');
                           location.reload(); // Tải lại trang sau khi lưu thành công
                           return;
                       }
                       else{
                           toastr["error"]('Cập nhật thất bại !');
                           return;
                       }
                   },
                   error: function(err){
                       toastr["error"]("Error!");
                       console.log(err);
                   }
               });
           }

           $("#LaneNameFilter").on('change', function(){
               input_type = 'edit';
               let rowSelect = laneList.filter(itm=>itm.LaneName==this.value);
               var formData = {
                   'filter':{'LaneName': this.value}
               };

               $.ajax({
                   url: "/Vessel/vsLane/loadLaneDetails2",
                   dataType: 'json',
                   data: formData,
                   type: 'POST',
                   success: function (data) {

                           $("#LaneID").val(rowSelect[0]['LaneID']);
                           $("#LaneName").val(rowSelect[0]['LaneName']);
                           let OprCheckList=(rowSelect[0]['OprList']||'').split(',').filter(itm=>itm).map(itm=>itm.trim());
                           let PortCheckList=(rowSelect[0]['PortList']||'').split(',').filter(itm=>itm).map(itm=>itm.trim());
                           $('.checkOpr').find('input').prop('checked', false);
                           $('.checkPort').find('input').prop('checked', false);
                          //  console.log(OprCheckList,PortCheckList);
                           for (i = 0; i < OprCheckList.length; i++) {
                               let rData = OprCheckList[i];
                               let id = "#checkOpr" + rData;
                              //  console.log(id);
                               $(id).prop('checked', true);
                           }
                           for (ix = 0; ix < PortCheckList.length; ix++) {
                               let rData = PortCheckList[ix];
                               let id = "#checkPort" + rData;
                               $(id).prop('checked', true);
                           }
                           $('.text').val('');
                           $('.text').css("background-color", "#fff");
                           $('.text').css("color", "#111");
                           $('.BackColor').val('');
                           $('.ForeColor').val('');
                           $('.ShortPort').text('');
                           if(data.data.length > 0) {
                           for (i = 1; i <= data.data.length; i++) {
                               var rData = data.data[i - 1],
                                   index = rData['PortSeq'];

                               let id = "#text" + index;
                               $(id).val(rData['NationID'] + rData['PortID']);

                               id = "#BackColor" + index;
                               $(id).val(rData['BackColor']);

                               id = "#ForeColor" + index
                               $(id).val(rData['ForeColor']);

                               id = "#text" + index;
                               $(id).css("background-color", "#" + rData['BackColor']);
                               $(id).css("color", "#" + rData['ForeColor']);

                               id = "#ShortPort" + index;
                               $(id).text(rData['ShortPort']);

                               id = "#checkOpr" + rData['OprID'];
                               $(id).prop('checked', true);

                               id = "#checkPort" + rData['PortID'];
                               $(id).prop('checked', true);
                           }
                       }
                   },
                   error: function(err){
                       toastr["error"]("Error!");
                       console.log(err);
                   }
               });

               var formData = {
                   'action': 'view',
                   'child_action': 'loadLaneDetails',
                   'LaneName': this.value,
               };
           });

           $("#LaneIDFilter").on('change', function(){
               input_type = 'edit';
               let rowSelect = laneList.filter(itm=>itm.LaneID==this.value);
               var formData = {
                   'filter':{'LaneID': this.value}
               };

               $.ajax({
                   url: "/Vessel/vsLane/loadLaneDetails",
                   dataType: 'json',
                   data: formData,
                   type: 'POST',
                   success: function (data) {

                           $("#LaneID").val(rowSelect[0]['LaneID']);
                           $("#LaneName").val(rowSelect[0]['LaneName']);
                           let OprCheckList=(rowSelect[0]['OprList']||'').split(',').filter(itm=>itm).map(itm=>itm.trim());
                           let PortCheckList=(rowSelect[0]['PortList']||'').split(',').filter(itm=>itm).map(itm=>itm.trim());
                           $('.checkOpr').find('input').prop('checked', false);
                           $('.checkPort').find('input').prop('checked', false);
                          //  console.log(OprCheckList,PortCheckList);
                           for (i = 0; i < OprCheckList.length; i++) {
                               let rData = OprCheckList[i];
                               let id = "#checkOpr" + rData;
                              //  console.log(id);
                               $(id).prop('checked', true);
                           }
                           for (ix = 0; ix < PortCheckList.length; ix++) {
                               let rData = PortCheckList[ix];
                               let id = "#checkPort" + rData;
                               $(id).prop('checked', true);
                           }
                           $('.text').val('');
                           $('.text').css("background-color", "#fff");
                           $('.text').css("color", "#111");
                           $('.BackColor').val('');
                           $('.ForeColor').val('');
                           $('.ShortPort').text('');
                           if(data.data.length > 0) {
                           for (i = 1; i <= data.data.length; i++) {
                               var rData = data.data[i - 1],
                                   index = rData['PortSeq'];

                               let id = "#text" + index;
                               $(id).val(rData['NationID'] + rData['PortID']);

                               id = "#BackColor" + index;
                               $(id).val(rData['BackColor']);

                               id = "#ForeColor" + index
                               $(id).val(rData['ForeColor']);

                               id = "#text" + index;
                               $(id).css("background-color", "#" + rData['BackColor']);
                               $(id).css("color", "#" + rData['ForeColor']);

                               id = "#ShortPort" + index;
                               $(id).text(rData['ShortPort']);

                               id = "#checkOpr" + rData['OprID'];
                               $(id).prop('checked', true);

                               id = "#checkPort" + rData['PortID'];
                               $(id).prop('checked', true);
                           }
                       }
                   },
                   error: function(err){
                       toastr["error"]("Error!");
                       console.log(err);
                   }
               });

               var formData = {
                   'action': 'view',
                   'child_action': 'loadLaneDetails',
                   'LaneID': this.value,
               };
           });

           $('.contenttable_wrapper').each(function(){
               $(this).prefectScrollbar();
           });

           $("#addrow").on('click', function(){
               $("#LaneID").val('');
               $("#LaneName").val('');
               $("#LaneIDFilter").val('');
               $( "#LaneIDFilter" ).selectpicker( "refresh" );

               for (i = 0; i < oprList.length; i++){
                   id = "#checkOpr" + oprList[i]['OprID'];
                   $(id).prop('checked', false);
               }

               for (i = 0; i < portList.length; i++){
                   id = "#checkPort" + portList[i]['PortID'];
                   $(id).prop('checked', false);
               }

               for (i = 1; i <= 12; i++) {
                   id = "#BackColor" + i;
                   $(id).val('');

                   id = "#ForeColor" + i
                   $(id).val('');

                   id = "#text" + i;
                   $(id).val('');
                   $(id).css("background-color", "#ffffff");

                   id = "#ShortPort" + i;
                   $(id).text('');
               }
           });
    });
</script>
<script src="/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
